dify_workflow5/09-研究報告產生器_文件搜尋.yml
app:
  description: ''
  icon: face_with_monocle
  icon_background: '#FFE4E8'
  mode: workflow
  name: 09-研究報告產生器_文件搜尋
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 10
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1730257098742-source-1730257648212-target
      selected: false
      source: '1730257098742'
      sourceHandle: source
      target: '1730257648212'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1730257648212-source-1730257830072-target
      selected: false
      source: '1730257648212'
      sourceHandle: source
      target: '1730257830072'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1730257648212-source-1730259707121-target
      selected: false
      source: '1730257648212'
      sourceHandle: source
      target: '1730259707121'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: parameter-extractor
      id: 1730259707121-source-1730260137415-target
      selected: false
      source: '1730259707121'
      sourceHandle: source
      target: '1730260137415'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1730260137415-source-1730260569281-target
      selected: false
      source: '1730260137415'
      sourceHandle: source
      target: '1730260569281'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1730260137415-source-1730260824960-target
      selected: false
      source: '1730260137415'
      sourceHandle: source
      target: '1730260824960'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: parameter-extractor
      id: 1730257830072-source-1730260137415-target
      selected: false
      source: '1730257830072'
      sourceHandle: source
      target: '1730260137415'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1730260137415-source-17302609631470-target
      selected: false
      source: '1730260137415'
      sourceHandle: source
      target: '17302609631470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1730260137415-source-17302610163900-target
      selected: false
      source: '1730260137415'
      sourceHandle: source
      target: '17302610163900'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: template-transform
      id: 17302610163900-source-1732579716194-target
      selected: false
      source: '17302610163900'
      sourceHandle: source
      target: '1732579716194'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: template-transform
      id: 17302609631470-source-1732579716194-target
      selected: false
      source: '17302609631470'
      sourceHandle: source
      target: '1732579716194'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: template-transform
      id: 1730260824960-source-1732579716194-target
      selected: false
      source: '1730260824960'
      sourceHandle: source
      target: '1732579716194'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: template-transform
      id: 1730260569281-source-1732579716194-target
      selected: false
      source: '1730260569281'
      sourceHandle: source
      target: '1732579716194'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: llm
      id: 1732579716194-source-1732582296184-target
      selected: false
      source: '1732579716194'
      sourceHandle: source
      target: '1732582296184'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: if-else
      id: 1732582296184-source-1732584513421-target
      selected: false
      source: '1732582296184'
      sourceHandle: source
      target: '1732584513421'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1732652888501-source-1732588429119-target
      selected: false
      source: '1732652888501'
      sourceHandle: source
      target: '1732588429119'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1732588429119-source-1732579748973-target
      selected: false
      source: '1732588429119'
      sourceHandle: source
      target: '1732579748973'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1732584513421-false-1732652888501-target
      selected: false
      source: '1732584513421'
      sourceHandle: 'false'
      target: '1732652888501'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1732584513421-39d3cbe5-bdad-4e35-bbcd-0ef9e23154c6-1732663668120-target
      source: '1732584513421'
      sourceHandle: 39d3cbe5-bdad-4e35-bbcd-0ef9e23154c6
      target: '1732663668120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1732663668120-source-1732683749186-target
      source: '1732663668120'
      sourceHandle: source
      target: '1732683749186'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: 1732584513421-a52707dc-5fd1-4e44-b938-761b2f13e7e9-1732751446301-target
      source: '1732584513421'
      sourceHandle: a52707dc-5fd1-4e44-b938-761b2f13e7e9
      target: '1732751446301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1732751446301-true-1732584586619-target
      source: '1732751446301'
      sourceHandle: 'true'
      target: '1732584586619'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1732751446301-false-1732751470716-target
      source: '1732751446301'
      sourceHandle: 'false'
      target: '1732751470716'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1732751470716-source-1732751509579-target
      source: '1732751470716'
      sourceHandle: source
      target: '1732751509579'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1730257830072'
        sourceType: iteration-start
        targetType: llm
      id: 1730257830072start-source-1733024066973-target
      source: 1730257830072start
      sourceHandle: source
      target: '1733024066973'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: start
        targetType: document-extractor
      id: 1730257085761-source-1733024366743-target
      source: '1730257085761'
      sourceHandle: source
      target: '1733024366743'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: document-extractor
        targetType: llm
      id: 1733024366743-source-1730257098742-target
      source: '1733024366743'
      sourceHandle: source
      target: '1730257098742'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 參考文件
          max_length: 48
          options: []
          required: true
          type: file
          variable: file
        - label: 研究題目或探討問題
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: title
        - label: 思考語系
          max_length: 48
          options:
          - English
          - Chinese (zh-TW)
          required: true
          type: select
          variable: language
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 輸出語系
          max_length: 5
          options:
          - English
          - Chinese
          - Chinsese (TAIDE)
          required: true
          type: select
          variable: translate_to
      height: 167
      id: '1730257085761'
      position:
        x: 30
        y: 296
      positionAbsolute:
        x: 30
        y: 296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 1
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: e18aef50-3449-4259-9559-c4d17101d533
          role: system
          text: "<instruction>\n<task_description>\nGenerate a series of appropriate\
            \ search engine queries to break down questions based on user inquiries\n\
            </task_description>\n\n<examples>\n<example>\nInput: User asks how to\
            \ learn programming\nOutput: 'programming learning methods, 'programming\
            \ tutorials for beginners'\n</example>\n\n<example>\nInput: User wants\
            \ to understand latest technology trends  \nOutput: 'tech trends 2021',\
            \ 'latest technology news'\n</example>\n\n<example>\nInput: User seeks\
            \ healthy eating advice\nOutput: 'healthy eating guide', 'balanced nutrition\
            \ diet'\n</example>\n</examples>\n\n<instructions>\n1. Take user's question\
            \ as input.\n2. Identify relevant keywords or phrases based on the topic\
            \ of user's question.\n3. Use these keywords or phrases to make search\
            \ engine queries.\n4. Generate a series of appropriate search engine queries\
            \ to help break down user's question.\n5. Ensure output content does not\
            \ contain any xml tags.\n6.The output must be pure and conform to the\
            \ <example> style without other explanations.\n7.Break down into at least\
            \ 4-6 subproblems.\n8.Output is separated only by commas.\n</instructions>"
        - id: b0e446f2-b714-41e9-8eb6-292187a97796
          role: user
          text: 'title：{{#1730257085761.title#}}

            language：{{#1730257085761.language#}}

            The output must be pure and conform to the <example> style without other
            explanations.

            Output is separated only by commas.

            Break down into at least 4-6 subproblems.'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1730257098742'
      position:
        x: 636
        y: 296
      positionAbsolute:
        x: 636
        y: 296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(input_str: str) -> dict:\n    if not input_str:\n        return\
          \ {'result': []}\n    \n    input_str = input_str.strip().strip('\"')\n\
          \    items = [item.strip() for item in input_str.split(',')]\n    \n   \
          \ return {'result': items}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: code
        type: code
        variables:
        - value_selector:
          - '1730257098742'
          - text
          variable: input_str
      height: 53
      id: '1730257648212'
      position:
        x: 939
        y: 296
      positionAbsolute:
        x: 939
        y: 296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: continue-on-error
        height: 192
        is_parallel: true
        iterator_selector:
        - '1730257648212'
        - result
        output_selector:
        - '1733024066973'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1730257830072start
        title: interaction
        type: iteration
        width: 352
      height: 192
      id: '1730257830072'
      position:
        x: 1242
        y: 296
      positionAbsolute:
        x: 1242
        y: 296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 352
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1730257830072start
      parentId: '1730257830072'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1266
        y: 364
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: 3b248cc7-ce1c-4d24-b20c-aa988aaad672
          role: system
          text: 'according{{#1730257648212.result#}}，{{#1730257085761.title#}}Generate
            3 to 5 sub-titles.

            <instructions>

            Please generate 4 subheadings for the main title following these steps:

            Carefully read the provided main title and related content

            Analyze the core theme and key information points of the main title

            Ensure the generated subheadings maintain consistency and relevance with
            the main title

            Each subheading should:

            Be concise and appropriate in length

            Highlight a unique angle or key point

            Capture readers'' interest

            Match the overall style and tone of the article

            Between subheadings:

            Content should not overlap

            Logical order should be maintained

            Should collectively support the main title

            Use numerical sequence (1, 2, 3...) to mark each subheading

            Outputformatrequirements:

            Each subheading on a separate line

            No XML tags included

            Output subheadings content only

            </instructions>'
        - id: 5a7b9e7a-e8f8-4564-a9bf-85861c4fe312
          role: user
          text: 'language：{{#1730257085761.language#}}

            Generate a series of appropriate sub-title to help break down {{#1730257085761.title#}}.

            Breaks down complex topics into manageable subtopics'
        selected: false
        title: LLM 3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1730259707121'
      position:
        x: 1296.5
        y: 528
      positionAbsolute:
        x: 1296.5
        y: 528
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: '{{#1730259707121.text#}}Extract the return value in the output
          value as four independent parameters.Avoids redundancy by tracking previously
          written content'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        parameters:
        - description: NO.1 sub title
          name: sub_title1
          required: false
          type: string
        - description: NO.2 sub_title
          name: sub_title2
          required: false
          type: string
        - description: NO.3 sub_title
          name: sub_title3
          required: false
          type: string
        - description: NO.4 sub_title
          name: sub_title4
          required: false
          type: string
        query:
        - '1730259707121'
        - text
        reasoning_mode: prompt
        selected: false
        title: Parameter extractor
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1730260137415'
      position:
        x: 1654
        y: 296
      positionAbsolute:
        x: 1654
        y: 296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 1
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: 3ef1efde-48b7-4f8d-830b-44e92815950f
          role: system
          text: in a detailed report — The report should focus on the answer to {{#1730260137415.sub_title1#}}
            and nothing else.
        - id: 04881f0e-1a81-4c5c-813a-5123d62689e8
          role: user
          text: 'language：{{#1730257085761.language#}}

            context：{{#1730257830072.output#}}


            1. Provide a comprehensive research report in the specified language,
            strictly adhering to the given topic and avoiding unnecessary context
            or small talk.'
        selected: false
        title: LLM 5
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1730260569281'
      position:
        x: 1957
        y: 296
      positionAbsolute:
        x: 1957
        y: 296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 1
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: c059b7a1-a7cb-4d2d-a258-cc4bd122ff7f
          role: system
          text: in a detailed report — The report should focus on the answer to {{#1730260137415.sub_title2#}}
            and nothing else.
        - id: e494e57c-eff3-434d-bba7-4981a6dfd212
          role: user
          text: 'language：{{#1730257085761.language#}}

            context：{{#1730257830072.output#}}


            1. Provide a comprehensive research report in the specified language,
            strictly adhering to the given topic and avoiding unnecessary context
            or small talk.'
        selected: false
        title: LLM 6
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1730260824960'
      position:
        x: 1957
        y: 433
      positionAbsolute:
        x: 1957
        y: 433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 1
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: c059b7a1-a7cb-4d2d-a258-cc4bd122ff7f
          role: system
          text: in a detailed report — The report should focus on the answer to {{#1730260137415.sub_title3#}}
            and nothing else.
        - id: 53cd6741-f1ef-4480-9778-9e8c1ea2e298
          role: user
          text: 'language：{{#1730257085761.language#}}

            context：{{#1730257830072.output#}}


            1. Provide a comprehensive research report in the specified language,
            strictly adhering to the given topic and avoiding unnecessary context
            or small talk.'
        selected: false
        title: LLM 7
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '17302609631470'
      position:
        x: 1957
        y: 570
      positionAbsolute:
        x: 1957
        y: 570
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 1
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: c059b7a1-a7cb-4d2d-a258-cc4bd122ff7f
          role: system
          text: in a detailed report — The report should focus on the answer to {{#1730260137415.sub_title4#}}
            and nothing else.
        - id: 2773ef9d-37b8-49f8-9455-c2399538407f
          role: user
          text: 'language：{{#1730257085761.language#}}

            context：{{#1730257830072.output#}}


            1. Provide a comprehensive research report in the specified language,
            strictly adhering to the given topic and avoiding unnecessary context
            or small talk.'
        selected: false
        title: LLM 8
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '17302610163900'
      position:
        x: 1957
        y: 707
      positionAbsolute:
        x: 1957
        y: 707
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "Topic: {{ arg0 }}\r\n\r\nTitle 1: {{ arg1 }}\r\nReport 1: {{ arg5\
          \ }}\r\n\r\nTitle 2: {{ arg2 }}\r\nReport 2: {{ arg6 }}\r\n\r\nTitle 3:\
          \ {{ arg3 }}\r\nReport 3: {{ arg7 }}\r\n\r\nTitle 4: {{ arg4 }}\r\nReport\
          \ 4: {{ arg8 }}"
        title: Template conversion
        type: template-transform
        variables:
        - value_selector:
          - '17302610163900'
          - text
          variable: arg0
        - value_selector:
          - '1730260137415'
          - sub_title1
          variable: arg1
        - value_selector:
          - '1730260137415'
          - sub_title2
          variable: arg2
        - value_selector:
          - '1730260137415'
          - sub_title3
          variable: arg3
        - value_selector:
          - '1730260137415'
          - sub_title4
          variable: arg4
        - value_selector:
          - '1730260569281'
          - text
          variable: arg5
        - value_selector:
          - '1730260824960'
          - text
          variable: arg6
        - value_selector:
          - '17302609631470'
          - text
          variable: arg7
        - value_selector:
          - '17302610163900'
          - text
          variable: arg8
      height: 53
      id: '1732579716194'
      position:
        x: 2260
        y: 433
      positionAbsolute:
        x: 2260
        y: 433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1732588429119'
          - text
          variable: output
        selected: false
        title: OUTPUT CHINESE (TAIDE)
        type: end
      height: 89
      id: '1732579748973'
      position:
        x: 3775
        y: 433
      positionAbsolute:
        x: 3775
        y: 433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 16384
            temperature: 0.7
          mode: chat
          name: o1-mini-2024-09-12
          provider: openai
        prompt_template:
        - id: c86a8055-c36d-4044-9eb3-ba17c0bb6b26
          role: system
          text: "Based on the content within the <llmreport></llmreport> XML tags,\
            \ complete the following tasks:\n- Create an Outline: Conduct an in-depth\
            \ analysis of each specialized report, summarize the themes and core content\
            \ of each, and integrate their structural characteristics to devise an\
            \ overarching outline for the full report. This outline should comprehensively\
            \ present the key research points and their logical connections.\n- Write\
            \ the Report: Based on the established outline and the content within\
            \ the <llmreport></llmreport> XML tags, organize and write a complete\
            \ and well-structured comprehensive report. The language should be professional\
            \ and the descriptions specific, fully showcasing the research findings\
            \ and their application value.\nEnsure that the report has a clear structure,\
            \ rigorous arguments, and effectively highlights the significance and\
            \ contributions of the research findings within the relevant field.\n\n\
            Notice: \n1. Please focus solely on the content output and refrain from\
            \ providing any additional suggestions or opinions.\n2. Please output\
            \ the content in {{#1730257085761.language#}}.\n"
        - id: 76f778eb-8814-4c78-894c-55821b45f9fb
          role: user
          text: "<llmreport>\n{{#1732579716194.output#}}\n</llmreport>\n\nNotice:\
            \ \n1. Please focus solely on the content output and refrain from providing\
            \ any additional suggestions or opinions.\n2. Please output the content\
            \ in {{#1730257085761.language#}}."
        selected: false
        title: LLM 13
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1732582296184'
      position:
        x: 2563
        y: 433
      positionAbsolute:
        x: 2563
        y: 433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: a52707dc-5fd1-4e44-b938-761b2f13e7e9
          conditions:
          - comparison_operator: is
            id: 41881ee2-eb02-471c-b4ec-6224d4f4f1e4
            value: English
            varType: string
            variable_selector:
            - '1730257085761'
            - translate_to
          id: a52707dc-5fd1-4e44-b938-761b2f13e7e9
          logical_operator: and
        - case_id: 39d3cbe5-bdad-4e35-bbcd-0ef9e23154c6
          conditions:
          - comparison_operator: is
            id: 38b89b7b-ae18-442b-a496-ed0b6b265625
            value: Chinese
            varType: string
            variable_selector:
            - '1730257085761'
            - translate_to
          id: 39d3cbe5-bdad-4e35-bbcd-0ef9e23154c6
          logical_operator: and
        desc: ''
        selected: false
        title: 條件分支
        type: if-else
      height: 173
      id: '1732584513421'
      position:
        x: 2866
        y: 433
      positionAbsolute:
        x: 2866
        y: 433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1732582296184'
          - text
          variable: text
        selected: false
        title: OUTPUT ENGLISH
        type: end
      height: 89
      id: '1732584586619'
      position:
        x: 3472
        y: 725
      positionAbsolute:
        x: 3472
        y: 725
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: c00cjz00
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Based
          on the content within the <llmreport></llmreport> XML tags, complete the
          following tasks:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Create
          an Outline: Conduct an in-depth analysis of each specialized report, summarize
          the themes and core content of each, and integrate their structural characteristics
          to devise an overarching outline for the full report. This outline should
          comprehensively present the key research points and their logical connections.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Write
          the Report: Based on the established outline, organize and write a complete
          and well-structured comprehensive report. The word count should be equivalent
          to the total word count of the original specialized reports. The language
          should be professional and the descriptions specific, fully showcasing the
          research findings and their application value.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Ensure
          that the report has a clear structure, rigorous arguments, and effectively
          highlights the significance and contributions of the research findings within
          the relevant field.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Notice:
          ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"1.
          Please focus solely on the content output and refrain from providing any
          additional suggestions or opinions.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"2.
          Please output the content in ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":".","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1732586479123'
      position:
        x: 2828.5148882184712
        y: 506.3005970546178
      positionAbsolute:
        x: 2828.5148882184712
        y: 506.3005970546178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: ddaeae1f-cb5b-4e67-bbbc-3592bf862475
          role: system
          text: '你是一位精通文件翻譯及潤飾的專家，專門將各種語言內容改寫為符合台灣在地風格的中文 (zh-TW)。請特別注意使用貼近台灣本地文化、語言習慣以及流行用語的表達方式，以使翻譯後的內容更加自然且具親和力。

            我們提供了一段參考翻譯，放置於 [reference][/reference] 中。請仔細閱讀並從中提取台灣在地用語或風格特色，靈活運用於您接下來的翻譯任務中，確保整體風格一致且地道。

            [reference]

            {{#1732652888501.text#}}

            [/reference]

            翻譯時請務必做到以下幾點：

            1. 用語流暢自然，避免生硬的直譯或外來語痕跡。

            2. 注重台灣本地用語的靈活運用，例如詞彙、語氣和句型。

            3. 內容應適應台灣讀者的閱讀習慣，做到通順且易於理解。

            4. 若參考內容與待翻譯內容風格有所差異，請以台灣在地化為首要目標進行調整，確保結果達到最佳效果。

            '
        - id: 0601da9a-3f1c-4f57-bb03-e80ae9e2bda7
          role: user
          text: '請將以下文本翻譯為台灣標準中文（zh-TW），並進行語意校正與潤飾，確保用詞符合台灣用語習慣，語句通順流暢。除了翻譯及潤飾外，請勿加入額外的內容或提供任何補充說明。

            文本內容：

            {{#1732582296184.text#}}'
        selected: false
        title: LLM 10
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1732588429119'
      position:
        x: 3472
        y: 433
      positionAbsolute:
        x: 3472
        y: 433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Llama3-TAIDE-LX-70B-Chat
          provider: openai_api_compatible
        prompt_template:
        - id: 87d51bbc-908a-4587-9211-e52a1604ab54
          role: system
          text: '你是一位精通文件翻譯及潤飾的專家，專門將各種語言內容改寫為符合台灣在地風格的中文 (zh-TW)。請特別注意使用貼近台灣本地文化、語言習慣以及流行用語的表達方式，以使翻譯後的內容更加自然且具親和力。

            翻譯時請務必做到以下幾點：

            1. 用語流暢自然，避免生硬的直譯或外來語痕跡。

            2. 注重台灣本地用語的靈活運用，例如詞彙、語氣和句型。

            3. 內容應適應台灣讀者的閱讀習慣，做到通順且易於理解。

            4. 若參考內容與待翻譯內容風格有所差異，請以台灣在地化為首要目標進行調整，確保結果達到最佳效果。

            '
        - id: 6a1f56c0-e611-4784-8772-419218800980
          role: user
          text: '請將以下文本翻譯為台灣標準中文（zh-TW），並進行語意校正與潤飾，確保用詞符合台灣用語習慣，語句通順流暢。除了翻譯及潤飾外，請勿加入額外的內容或提供任何補充說明。

            文本內容：

            {{#1732582296184.text#}}'
        selected: false
        title: LLM CHINESE (TAIDE)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1732652888501'
      position:
        x: 3169
        y: 433
      positionAbsolute:
        x: 3169
        y: 433
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: 42cfaf9f-6da7-42a3-acce-5e7f9a9dc189
          role: system
          text: '你是一位精通文件翻譯及潤飾的專家，專門將各種語言內容改寫為符合台灣在地風格的中文 (zh-TW)。請特別注意使用貼近台灣本地文化、語言習慣以及流行用語的表達方式，以使翻譯後的內容更加自然且具親和力。

            翻譯時請務必做到以下幾點：

            1. 用語流暢自然，避免生硬的直譯或外來語痕跡。

            2. 注重台灣本地用語的靈活運用，例如詞彙、語氣和句型。

            3. 內容應適應台灣讀者的閱讀習慣，做到通順且易於理解。

            4. 若參考內容與待翻譯內容風格有所差異，請以台灣在地化為首要目標進行調整，確保結果達到最佳效果。

            '
        - id: 8400b27d-3ae0-4ce3-bfc7-06ae30c35b07
          role: user
          text: '請將以下文本翻譯為台灣標準中文（zh-TW），並進行語意校正與潤飾，確保用詞符合台灣用語習慣，語句通順流暢。除了翻譯及潤飾外，請勿加入額外的內容或提供任何補充說明。

            文本內容：

            {{#1732582296184.text#}}'
        selected: false
        title: LLM Chinese
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1732663668120'
      position:
        x: 3169
        y: 570
      positionAbsolute:
        x: 3169
        y: 570
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1732663668120'
          - text
          variable: text
        selected: false
        title: Output Chinese
        type: end
      height: 89
      id: '1732683749186'
      position:
        x: 3472
        y: 574
      positionAbsolute:
        x: 3472
        y: 574
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: ad43c65a-a608-4a7c-8f24-b1bc38ffea3a
            value: English
            varType: string
            variable_selector:
            - '1730257085761'
            - language
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 條件分支 2
        type: if-else
      height: 125
      id: '1732751446301'
      position:
        x: 3169
        y: 707
      positionAbsolute:
        x: 3169
        y: 707
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: ef3d2a57-9b93-45c7-abe0-deebd53cb491
          role: system
          text: "You are an expert in document translation and refinement, specializing\
            \ in adapting content into natural, culturally-appropriate American English.\
            \ Your focus is on ensuring the translation aligns with American English\
            \ expressions, cultural nuances, and idiomatic language to make the content\
            \ engaging and relatable. \n\nWhen translating and refining, please adhere\
            \ to the following guidelines:  \n1. Ensure the language flows naturally,\
            \ avoiding stiff literal translations or foreign-sounding phrasing.  \n\
            2. Skillfully incorporate American English vocabulary, tone, and sentence\
            \ structures.  \n3. Tailor the content to the reading habits of American\
            \ English audiences, making it clear, concise, and easy to understand.\
            \  \n4. When the source content's style differs from the target tone,\
            \ prioritize localization into American English to achieve the best result.\
            \  \n"
        - id: 501614cf-e0ab-44c2-a66e-a016b50985c8
          role: user
          text: "Please translate the following text into American English, focusing\
            \ on semantic accuracy and stylistic refinement to ensure the language\
            \ is idiomatic and polished. Do not add any additional content or commentary\
            \ beyond the translation and revision.\n\nText to translate:  \n{{#1732582296184.text#}}\
            \  "
        selected: false
        title: LLM 12
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1732751470716'
      position:
        x: 3472
        y: 854
      positionAbsolute:
        x: 3472
        y: 854
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1732751470716'
          - text
          variable: text
        selected: false
        title: 結束 5
        type: end
      height: 89
      id: '1732751509579'
      position:
        x: 3775
        y: 854
      positionAbsolute:
        x: 3775
        y: 854
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1730257830072'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: 3b9792cc-fca3-4d16-8c75-4a5ba7f069f6
          role: system
          text: 'Your goal is to provide answers strictly based on the information
            provided in the content.

            Do not use external knowledge or assumptions to formulate answers.

            Respond concisely and directly to the question or topic without adding
            any extra commentary, explanations, or remarks.

            '
        - id: b8a0cd67-59e7-4f58-8c11-ef7273a38179
          role: user
          text: 'Language: {{#1730257085761.language#}}

            Content: "{{#1733024366743.text#}}"

            Using only the above content, answer the following question or address
            the following topic: "{{#1730257830072.item#}}"'
        selected: false
        title: LLM 13
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1733024066973'
      parentId: '1730257830072'
      position:
        x: 88.29003575890715
        y: 66.42857142857144
      positionAbsolute:
        x: 1330.2900357589072
        y: 362.42857142857144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        is_array_file: false
        selected: false
        title: 文件提取器
        type: document-extractor
        variable_selector:
        - '1730257085761'
        - file
      height: 93
      id: '1733024366743'
      position:
        x: 333
        y: 296
      positionAbsolute:
        x: 333
        y: 296
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -1843.742932759381
      y: 25.158732094801906
      zoom: 0.5818665296443939
