dify_workflow5/10.1-立法院模擬問答 (國科會) (重點回覆或書面報告).yml
app:
  description: ''
  icon: u6307
  icon_background: '#D5D9EB'
  mode: workflow
  name: 10.1-立法院模擬問答 (國科會) (重點回覆或書面報告)
  use_icon_as_answer_icon: false
kind: app
version: 0.1.4
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 100
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1730257085761-source-1730257098742-target
      selected: false
      source: '1730257085761'
      sourceHandle: source
      target: '1730257098742'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1730257098742-source-1730257648212-target
      selected: false
      source: '1730257098742'
      sourceHandle: source
      target: '1730257648212'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1730257830072'
        sourceType: iteration-start
        targetType: tool
      id: 1730257830072start-source-1730257879652-target
      selected: false
      source: 1730257830072start
      sourceHandle: source
      target: '1730257879652'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1730257830072'
        sourceType: tool
        targetType: llm
      id: 1730257879652-source-1730259235391-target
      selected: false
      source: '1730257879652'
      sourceHandle: source
      target: '1730259235391'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1732751470716-source-1732751509579-target
      selected: false
      source: '1732751470716'
      sourceHandle: source
      target: '1732751509579'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1730257648212-source-1730257830072-target
      selected: false
      source: '1730257648212'
      sourceHandle: source
      target: '1730257830072'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1732652888501-source-1732579748973-target
      selected: false
      source: '1732652888501'
      sourceHandle: source
      target: '1732579748973'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1732584513421-9d4dee31-0af5-4eeb-b6cb-18dc2e58f04c-1732652888501-target
      selected: false
      source: '1732584513421'
      sourceHandle: 9d4dee31-0af5-4eeb-b6cb-18dc2e58f04c
      target: '1732652888501'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1732584513421-c92668dd-88d9-425c-9cbf-b8a1c5214dcb-1732751470716-target
      selected: false
      source: '1732584513421'
      sourceHandle: c92668dd-88d9-425c-9cbf-b8a1c5214dcb
      target: '1732751470716'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1732584513421-88f12aea-1263-461a-9bb5-0a508df9295e-17333230235980-target
      source: '1732584513421'
      sourceHandle: 88f12aea-1263-461a-9bb5-0a508df9295e
      target: '17333230235980'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 17333230235980-source-1732683749186-target
      source: '17333230235980'
      sourceHandle: source
      target: '1732683749186'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: if-else
      id: 1730257830072-source-1733466262329-target
      source: '1730257830072'
      sourceHandle: source
      target: '1733466262329'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733466262329-true-17333139837460-target
      source: '1733466262329'
      sourceHandle: 'true'
      target: '17333139837460'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733466262329-false-1733466286999-target
      source: '1733466262329'
      sourceHandle: 'false'
      target: '1733466286999'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1733466286999-source-1733466332547-target
      source: '1733466286999'
      sourceHandle: source
      target: '1733466332547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17333139837460-source-1733466332547-target
      source: '17333139837460'
      sourceHandle: source
      target: '1733466332547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: if-else
      id: 1733466332547-source-1732584513421-target
      source: '1733466332547'
      sourceHandle: source
      target: '1732584513421'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1732584513421-a52707dc-5fd1-4e44-b938-761b2f13e7e9-17335771686400-target
      source: '1732584513421'
      sourceHandle: a52707dc-5fd1-4e44-b938-761b2f13e7e9
      target: '17335771686400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 17335771686400-source-1732584586619-target
      source: '17335771686400'
      sourceHandle: source
      target: '1732584586619'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 1. 開始
        type: start
        variables:
        - label: 回答模式
          max_length: 48
          options:
          - (1) 重點回覆
          - (2) 書面報告
          required: true
          type: select
          variable: level
        - label: 問題
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: title
        - label: 相關內容
          max_length: 2048
          options: []
          required: false
          type: paragraph
          variable: content
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 思考語系
          max_length: 5
          options:
          - English
          - Chinese (zh-TW)
          required: true
          type: select
          variable: language
        - label: 輸出語系
          max_length: 48
          options:
          - English
          - Chinese (zh-TW)
          required: true
          type: select
          variable: translate_to
      height: 192
      id: '1730257085761'
      position:
        x: 30
        y: 386
      positionAbsolute:
        x: 30
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: llama-3.2-11b-vision-preview
          provider: groq
        prompt_template:
        - id: e18aef50-3449-4259-9559-c4d17101d533
          role: system
          text: "**Objective:**  \nAs an officer of the National Science and Technology\
            \ Council (NSTC) in Taiwan, generate 3-5 specific, in-depth sub-questions\
            \ based on the user's input for enhanced clarity and actionable insights.\n\
            \n**Guidelines:**  \n1. Identify and analyze key themes, keywords, and\
            \ core concepts in the user's question.  \n2. Using the extracted elements,\
            \ construct **precise search engine query statements** that thoroughly\
            \ address the various dimensions of the user's question.  \n3. Ensure\
            \ that the generated sub-questions maintain focus on the central theme\
            \ and intent of the original question.  \n4. Sub-questions should target\
            \ distinct aspects of the issue to facilitate a structured and comprehensive\
            \ exploration of the topic.  \n5. The output must be formatted as JSON\
            \ with keys labeled as `\"question\"` and should **not include any introductory\
            \ or explanatory text** beyond the queries themselves.  \n6. Adhere strictly\
            \ to the output format to ensure direct usability.  \n\n**Output Format:**\
            \  \n```json\n[\n  { \"question\": \"<Generated Sub-question 1>\" },\n\
            \  { \"question\": \"<Generated Sub-question 2>\" },\n  { \"question\"\
            : \"<Generated Sub-question 3>\" },\n  { \"question\": \"<Generated Sub-question\
            \ 4>\" },\n  { \"question\": \"<Generated Sub-question 5>\" }\n]\n```"
        - id: b0e446f2-b714-41e9-8eb6-292187a97796
          role: user
          text: 'Question：{{#1730257085761.title#}}

            Language：{{#1730257085761.language#}}

            Output only in JSON format. Do not include any other text or explanations.


            '
        selected: false
        title: 2. 問題擴展 (LLM)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1730257098742'
      position:
        x: 333
        y: 386
      positionAbsolute:
        x: 333
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(input_str: str) -> dict:\n    if not input_str:\n\
          \        return {'result': []}\n    \n    # 去除 ```json 標籤和多餘空白\n    input_str\
          \ = input_str.strip('```json').strip()\n    \n    try:\n        # 將清理後的字串解析為\
          \ JSON\n        data = json.loads(input_str)\n        # 提取每個字典中的 \"question\"\
          \ 值，並只保留前三個\n        questions = [item['question'] for item in data if 'question'\
          \ in item][:3]\n    except json.JSONDecodeError:\n        return {'result':\
          \ []}\n\n    return {'result': questions}\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: 3. 保留三個擴展問題 (code)
        type: code
        variables:
        - value_selector:
          - '1730257098742'
          - text
          variable: input_str
      height: 52
      id: '1730257648212'
      position:
        x: 636
        y: 386
      positionAbsolute:
        x: 636
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        error_handle_mode: continue-on-error
        height: 333
        is_parallel: true
        iterator_selector:
        - '1730257648212'
        - result
        output_selector:
        - '1730259235391'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1730257830072start
        title: 4. 搜尋問題相關資訊及答案 (Search & LLM))
        type: iteration
        width: 913
      height: 333
      id: '1730257830072'
      position:
        x: 939
        y: 386
      positionAbsolute:
        x: 939
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 913
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1730257830072start
      parentId: '1730257830072'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 963
        y: 454
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1730257830072'
        provider_id: tavily
        provider_name: tavily
        provider_type: builtin
        selected: false
        title: TavilySearch
        tool_configurations:
          exclude_domains: null
          include_answer: null
          include_domains: null
          include_images: null
          include_raw_content: null
          max_results: 5
          search_depth: basic
        tool_label: TavilySearch
        tool_name: tavily_search
        tool_parameters:
          query:
            type: mixed
            value: '台灣國家科學及技術委員會 (NSTC): {{#1730257830072.item#}}'
        type: tool
      height: 244
      id: '1730257879652'
      parentId: '1730257830072'
      position:
        x: 128
        y: 67
      positionAbsolute:
        x: 1067
        y: 453
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1730257830072'
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - edition_type: basic
          id: d8e18834-ba12-4acb-b376-15340d30a3e3
          jinja2_text: '"{research_summary}" Using the above information, answer the
            following question or topic: "{question}" in a detailed report — The report
            should focus on the answer to the question, should be well structured,
            informative, in depth, with facts and numbers if available, a minimum
            of 1,200 words and with markdown syntax and apa format. Write all source
            urls at the end of the report in apa format. You should write your report
            only based on the given information and nothing else.'
          role: system
          text: "1. Your role is to deliver responses solely based on internet-sourced\
            \ information.  \n2. You must exclusively utilize the Tavily search API\
            \ function to retrieve accurate and relevant data.  \n3. Avoid using prior\
            \ knowledge or providing any information not directly supported by search\
            \ results.  \n4. Ensure all responses are substantiated with relevant\
            \ URL sources included at the conclusion.  \n"
        - id: b23ba544-1b25-4d0a-abdf-34a6c22a2c76
          role: user
          text: "**Language**: {{#1730257085761.language#}}  \n**Query**: \"{{#1730257879652.text#}}\"\
            \  \n\nUsing the query provided above, deliver a response to the following\
            \ question or topic:  \n**Topic**: \"{{#1730257830072.item#}}\"  "
        selected: false
        title: 4. 搜尋問題相關資訊及答案 (Search & LLM))
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1730259235391'
      parentId: '1730257830072'
      position:
        x: 416.1699410031715
        y: 74.62554586921203
      positionAbsolute:
        x: 1355.1699410031715
        y: 460.62554586921203
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
      zIndex: 1002
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1732652888501'
          - text
          variable: output
        selected: false
        title: 8. OUTPUT CHINESE
        type: end
      height: 88
      id: '1732579748973'
      position:
        x: 3427
        y: 518
      positionAbsolute:
        x: 3427
        y: 518
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: a52707dc-5fd1-4e44-b938-761b2f13e7e9
          conditions:
          - comparison_operator: contains
            id: e85cf536-ad22-4509-a7d8-2e72b30a8f01
            value: English
            varType: string
            variable_selector:
            - '1730257085761'
            - language
          - comparison_operator: contains
            id: 3b2e5344-97d7-4710-a79f-178587db5d5f
            value: English
            varType: string
            variable_selector:
            - '1730257085761'
            - translate_to
          id: a52707dc-5fd1-4e44-b938-761b2f13e7e9
          logical_operator: and
        - case_id: 9d4dee31-0af5-4eeb-b6cb-18dc2e58f04c
          conditions:
          - comparison_operator: contains
            id: 8567ec72-b3a3-49f4-8e4f-d236bb6fdcbe
            value: English
            varType: string
            variable_selector:
            - '1730257085761'
            - language
          - comparison_operator: contains
            id: f9520544-0695-4d40-b980-0f4249657886
            value: Chinese
            varType: string
            variable_selector:
            - '1730257085761'
            - translate_to
          id: 9d4dee31-0af5-4eeb-b6cb-18dc2e58f04c
          logical_operator: and
        - case_id: 88f12aea-1263-461a-9bb5-0a508df9295e
          conditions:
          - comparison_operator: contains
            id: 6a9aae0a-041d-434c-91cb-c9a7fe82dff2
            value: Chinese
            varType: string
            variable_selector:
            - '1730257085761'
            - language
          - comparison_operator: contains
            id: 30f5412f-2389-4e9f-8004-c541f2ceb607
            value: Chinese
            varType: string
            variable_selector:
            - '1730257085761'
            - translate_to
          id: 88f12aea-1263-461a-9bb5-0a508df9295e
          logical_operator: and
        - case_id: c92668dd-88d9-425c-9cbf-b8a1c5214dcb
          conditions:
          - comparison_operator: contains
            id: d9c8a63b-23cd-454f-a55b-58eb147f14b2
            value: Chinese
            varType: string
            variable_selector:
            - '1730257085761'
            - language
          - comparison_operator: contains
            id: 625e8a4f-b708-4db8-9a9d-5a2f66ee6eaa
            value: English
            varType: string
            variable_selector:
            - '1730257085761'
            - translate_to
          id: c92668dd-88d9-425c-9cbf-b8a1c5214dcb
          logical_operator: and
        desc: ''
        selected: false
        title: 6. 否需要翻譯
        type: if-else
      height: 372
      id: '1732584513421'
      position:
        x: 2821
        y: 386
      positionAbsolute:
        x: 2821
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17335771686400'
          - text
          variable: text
        selected: false
        title: 8. OUTPUT ENGLISH
        type: end
      height: 88
      id: '1732584586619'
      position:
        x: 3435.018020585651
        y: 366.64776760800396
      positionAbsolute:
        x: 3435.018020585651
        y: 366.64776760800396
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: llama-3.3-70b-versatile
          provider: openai_api_compatible
        prompt_template:
        - id: 87d51bbc-908a-4587-9211-e52a1604ab54
          role: system
          text: '你是一位精通文件翻譯及潤飾的專家，專門將各種語言內容改寫為符合台灣在地風格的中文 (zh-TW)。請特別注意使用貼近台灣本地文化、語言習慣以及流行用語的表達方式，以使翻譯後的內容更加自然且具親和力。

            翻譯時請務必做到以下幾點：

            1. 用語流暢自然，避免生硬的直譯或外來語痕跡。

            2. 注重台灣本地用語的靈活運用，例如詞彙、語氣和句型。

            3. 內容應適應台灣讀者的閱讀習慣，做到通順且易於理解。

            4. 若參考內容與待翻譯內容風格有所差異，請以台灣在地化為首要目標進行調整，確保結果達到最佳效果。

            '
        - id: 6a1f56c0-e611-4784-8772-419218800980
          role: user
          text: '請將以下文本翻譯為台灣標準中文（zh-TW），並進行語意校正與潤飾，確保用詞符合台灣用語習慣，語句通順流暢。除了翻譯及潤飾外，請勿加入額外的內容或提供任何補充說明。

            文本內容：

            {{#1733466332547.output#}}'
        selected: false
        title: 7. 翻譯成中文 (LLM TAIDE)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1732652888501'
      position:
        x: 3124
        y: 514
      positionAbsolute:
        x: 3124
        y: 514
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17333230235980'
          - text
          variable: text
        selected: false
        title: 8. OUTPUT CHINESE
        type: end
      height: 88
      id: '1732683749186'
      position:
        x: 3427
        y: 790
      positionAbsolute:
        x: 3427
        y: 790
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: llama-3.3-70b-versatile
          provider: openai_api_compatible
        prompt_template:
        - id: ef3d2a57-9b93-45c7-abe0-deebd53cb491
          role: system
          text: "You are an expert in document translation and refinement, specializing\
            \ in adapting content into natural, culturally-appropriate American English.\
            \ Your focus is on ensuring the translation aligns with American English\
            \ expressions, cultural nuances, and idiomatic language to make the content\
            \ engaging and relatable. \n\nWhen translating and refining, please adhere\
            \ to the following guidelines:  \n1. Ensure the language flows naturally,\
            \ avoiding stiff literal translations or foreign-sounding phrasing.  \n\
            2. Skillfully incorporate American English vocabulary, tone, and sentence\
            \ structures.  \n3. Tailor the content to the reading habits of American\
            \ English audiences, making it clear, concise, and easy to understand.\
            \  \n4. When the source content's style differs from the target tone,\
            \ prioritize localization into American English to achieve the best result.\
            \  \n"
        - id: 501614cf-e0ab-44c2-a66e-a016b50985c8
          role: user
          text: "Please translate the following text into American English, focusing\
            \ on semantic accuracy and stylistic refinement to ensure the language\
            \ is idiomatic and polished. Do not add any additional content or commentary\
            \ beyond the translation and revision.\n\nText to translate:  \n{{#1733466332547.output#}}"
        selected: false
        title: 7. 翻譯成英文 (LLM TAIDE)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1732751470716'
      position:
        x: 3124
        y: 650
      positionAbsolute:
        x: 3124
        y: 650
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1732751470716'
          - text
          variable: text
        selected: false
        title: 8. OUTPUT ENGLISH
        type: end
      height: 88
      id: '1732751509579'
      position:
        x: 3427
        y: 654
      positionAbsolute:
        x: 3427
        y: 654
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1730257830072'
          - output
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: 3ef1efde-48b7-4f8d-830b-44e92815950f
          role: system
          text: "您是台灣國家科學及技術委員會（NSTC）的專業專員，精通政策分析與執行，負責針對立法委員提出的特定問題提供深入且權威的書面回應。請依據提供的委員問題、參考摘要與背景資訊，以國科會的立場撰寫一份報告，並嚴格使用指定的語言\
            \ **「{{#1730257085761.language#}}」**。  \n\n報告標題為 **「{{#1730257085761.title#}}」**，須清晰表達國科會的政策立場、行動計劃及解決方案。\
            \  \n\n請嚴格依循以下撰寫原則，並將報告的邏輯結構自然融入內容呈現，而非僅列出框架：\n\n---\n\n### 撰寫原則：\n\n\
            1. **聚焦與條理性**：  \n   - 報告內容須緊扣立法委員的核心問題，避免偏離或引入與問題無關的資訊。  \n   - 應具備清晰的層次，涵蓋背景分析、政策陳述與解決方案，協助委員迅速掌握重點。\
            \  \n\n2. **國科會專屬立場**：  \n   - 報告應完整展現國科會的政策方針與實際行動，而非以第三方的觀點建議對策。  \n\
            \   - 應突出國科會現有努力、執行進展及後續措施，體現對問題的重視與回應能力。  \n\n3. **專業與權威語氣**：  \n   -\
            \ 使用專業、準確且具有說服力的語言，展現國科會的專業責任與能力。  \n   - 結合政策細節與技術方案，提出具體且具有可行性的解決方案，彰顯國科會的專業權威。\
            \  \n\n4. **資料支持與引用**：  \n   - 引用可靠的數據、政策文件或研究結果，確保內容的科學性與可信度。  \n   -\
            \ 提供具體資料來源與參考文獻，並包含相關的 **URL 參考連結**，讓報告內容具可檢驗性。  \n\n5. **語言要求**：  \n\
            \   - 報告必須全程使用指定語言 **「{{#1730257085761.language#}}」**，包括專有名詞、數據與政策說明的表述。\
            \  \n   - 無論參考資料的語言為何，報告的所有內容均需轉換為指定語言表達。  \n\n---\n\n### 報告結構指導：\n\n\
            1. **標題**：  \n   - {{#1730257085761.title#}}  \n\n2. **問題陳述**：  \n   -\
            \ 簡明扼要地描述立法委員關心的核心問題，並說明該問題的影響層面（如對社會、經濟、科技的影響）。  \n\n3. **背景與現況分析**：\
            \  \n   - 提供問題的背景資訊，說明成因及當前狀況。  \n   - 透過數據或實例闡明目前政策的執行情況及其成效或挑戰。  \n\n\
            4. **國科會的立場與應對策略**：  \n   - 詳述國科會的政策方向、既有的應對措施及執行進展。  \n   - 提出具體解決方案，包括近期行動計劃及長期戰略，強調可實現的效果。\
            \  \n\n5. **結論與未來行動計劃**：  \n   - 總結報告內容，重點強調國科會對問題的解決意志。  \n   - 明確列出後續行動計劃、時間表與預期成果，突顯國科會對此問題的全力投入。\
            \  \n\n---\n"
        - id: 04881f0e-1a81-4c5c-813a-5123d62689e8
          role: user
          text: "### 報告所需資訊：\n1. **委員的問題**：  \n   {{#1730257085761.title#}}  \n\n\
            2. **參考摘要**：  \n   {{#1730257085761.content#}}  \n\n3. **背景資訊**：  \n \
            \  {{#context#}}  \n\n4. **輸出語言**：  \n   {{#1730257085761.language#}}\
            \  \n\n5. **參考連結（URL）**：  \n   - 在報告中，請根據需要引用並提供與問題相關的參考資料 URL 連結，確保參考來源透明並具可查證性。\
            \  \n"
        selected: false
        title: 5. 問題相關資訊及答案彙整 (書面報告)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '17333139837460'
      position:
        x: 2215
        y: 522
      positionAbsolute:
        x: 2215
        y: 522
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        author: c00cjz00
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"您是台灣國家科學及技術委員會（NSTC）的專業專員，負責針對與該委員會相關的議題提供權威性的分析與回應。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"請根據委員提出的問題與背景資訊，撰寫一份以
          \"","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"\"
          為報告標題的深入且全面的專業報告。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"###
          指導原則：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"1.
          **聚焦核心問題**：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          嚴格圍繞委員提出的具體問題進行分析與回答，避免多餘或與主題無關的內容。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          報告應結構清晰，直接切入重點，分段闡述，並提供清晰的結論與建議。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"2.
          **提供可靠參考資料**：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          報告需包含詳細的引用，並引用學術文章、政府報告、官方數據或其他經驗證的權威性來源。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          明確列出每一項資料的出處，附帶完整參考格式及超連結，確保讀者能方便核實。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"3.
          **專業語氣與表達**：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          使用專業、清晰且禮貌的語言進行撰寫，符合政策制定者或相關專業人士的需求。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          報告應體現高度專業性與政策敏感性，適當使用技術術語並避免過度簡化。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"###
          報告結構：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          **問題陳述**：簡要說明所要解決的核心問題。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          **背景分析**：基於背景資訊提供必要的數據與分析支持。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          **深入回應**：針對問題進行詳細分析，引用權威資料支持，並提出具體建議或解決方案。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          **結論與建議**：概述報告要點，提出政策層面的建議或後續行動方案。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"###
          資料輸入：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          委員問題：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          語言：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          背景資訊：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1733320060611'
      position:
        x: 1877.9596719271847
        y: 865.8505338017441
      positionAbsolute:
        x: 1877.9596719271847
        y: 865.8505338017441
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: c00cjz00
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"修改後的
          Prompt：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"您是台灣國家科學及技術委員會（NSTC）的專業專員，具備專業的政策分析能力，負責針對立法委員提出的問題提供深入且具權威性的回應。請根據委員的問題與提供的背景資訊，撰寫一份以
          「","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"」
          為主題的專業報告。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"報告撰寫指導：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"聚焦議題，條理清晰：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"針對委員的具體提問進行分析，避免偏離核心議題或過多冗長敘述。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"報告需條理分明，結構設計合理，涵蓋背景資訊、核心分析及具體建議等要素。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"嚴謹引用與佐證：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"使用學術文章、官方數據、政策文件等經過驗證的權威資料進行佐證。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"清楚註明引用來源，附上參考文獻清單及超連結，確保報告的公信力與核查便利性。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"專業語氣與政策敏感性：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"採用專業、禮貌且精確的語言，適合政策制定者或技術專業人士的需求。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"報告需展現政策敏感度，適當使用技術術語，確保專業性與易讀性的平衡。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"報告結構：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"核心問題概述：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"簡述立法委員提出的核心問題，明確報告需解決的重點。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"背景分析與數據支撐：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"提供與議題相關的背景資訊，列舉重要數據與相關現狀，幫助讀者全面了解問題的脈絡。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"問題深入剖析：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"針對核心問題進行詳細解析，結合權威資料提出洞察，分析其政策影響與技術挑戰。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"政策建議與解決方案：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"提供實際且可行的建議，包括政策層面、技術層面或其他必要行動方案。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"結論與後續建議：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"總結報告要點，提出後續追蹤重點或建議進一步研究的領域。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"資料輸入參考：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"委員提問：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"語言：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"背景資訊：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1733321288471'
      position:
        x: 1525.9391839068564
        y: 846.1916139812026
      positionAbsolute:
        x: 1525.9391839068564
        y: 846.1916139812026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: llama-3.3-70b-versatile
          provider: openai_api_compatible
        prompt_template:
        - id: 87d51bbc-908a-4587-9211-e52a1604ab54
          role: system
          text: '你是一位精通文件翻譯及潤飾的專家，專門將各種語言內容改寫為符合台灣在地風格的中文 (zh-TW)。請特別注意使用貼近台灣本地文化、語言習慣以及流行用語的表達方式，以使翻譯後的內容更加自然且具親和力。

            翻譯時請務必做到以下幾點：

            1. 用語流暢自然，避免生硬的直譯或外來語痕跡。

            2. 注重台灣本地用語的靈活運用，例如詞彙、語氣和句型。

            3. 內容應適應台灣讀者的閱讀習慣，做到通順且易於理解。

            4. 若參考內容與待翻譯內容風格有所差異，請以台灣在地化為首要目標進行調整，確保結果達到最佳效果。

            5. 將所有使用中國大陸簡體字及用詞(zh-CN)的文字，轉換成台灣繁體字及用詞(zh-TW)。請遵循以下轉換範例進行處理，確保符合台灣繁體用語的表達習慣，包括技術術語、地名、人稱代詞以及一般語言風格的差異。規範如下

            - 確保所有地名根據台灣用語慣例進行調整，例如「老撾」應改為「寮國」。

            - 技術術語如「硅」需改為「矽」、「二极管」需改為「二極體」。

            - 將涉及網路相關的詞彙如「互联网」改為「網際網路」，「算法」改為「演算法」。

            - 保持句子語義一致，修正因語言風格差異可能造成的潛在不自然表達。




            '
        - id: 6a1f56c0-e611-4784-8772-419218800980
          role: user
          text: '請將以下文本翻譯為台灣標準中文（zh-TW），並進行語意校正與潤飾，確保用詞符合台灣用語習慣，語句通順流暢。除了翻譯及潤飾外，請勿加入額外的內容或提供任何補充說明。

            文本內容：

            {{#1733466332547.output#}}'
        selected: false
        title: '7. 翻譯成中文 (LLM TAIDE) '
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '17333230235980'
      position:
        x: 3124
        y: 786
      positionAbsolute:
        x: 3124
        y: 786
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 8add3bcc-45e0-49d4-8470-b5da82ef348c
            value: (2)
            varType: string
            variable_selector:
            - '1730257085761'
            - level
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 條件分支 (精簡或書面回覆)
        type: if-else
      height: 124
      id: '1733466262329'
      position:
        x: 1912
        y: 386
      positionAbsolute:
        x: 1912
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1730257830072'
          - output
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: 8a3cd74e-68f0-434c-a6a4-4a44c8f61364
          role: system
          text: "您是台灣國家科學及技術委員會（NSTC）的專業專員，負責根據立法委員提出的問題，提供快速、簡潔且精確的回應。請根據委員的問題及相關背景資料，以國科會的立場，使用指定語言\
            \ **「{{#1730257085761.language#}}」**，並提供具體且明確的回應。\n\n### 撰寫原則：\n\n1. **精簡且聚焦**：\n\
            \   - 僅針對委員的核心問題進行回應，避免過多的背景說明或無關內容。\n   - 回應應條理清晰，直接呈現問題背景、政策重點及解決方案。\n\
            \n2. **引用與查證**：\n   - 回應中必須提供具體的引用來源或參考文獻。\n   - 提供可查證的URL或相關資料鏈接，確保回應內容具備可靠性與可追溯性。\n\
            \n### 回應結構指導：\n\n1. **問題陳述**：  \n   - 簡要描述立法委員提出的核心問題，並指出該問題可能帶來的社會、經濟或科技影響。\n\
            \n2. **回應內容**：  \n   回應範本：\n   ``` \n   立委問題：{{#1730257085761.title#}}\n\
            \n   國科會回應：\n   一、問題背景：\n   - 概述問題的起因及影響。\n   - 闡述相關政策背景或科學原則。\n   - ...\
            \ (視情況可增加項次，聚焦於核心問題的背景)\n\n   二、問題回應：\n   - 直接回答立委的問題，並提出具體政策建議。\n   -\
            \ 提供實際可行的解決方案及未來發展方向。\n   - ... (根據情況增加必要的解釋)\n\n   三、相關資料：\n   - 提供具體參考文獻或資料鏈接，便於查證。\n\
            \   ```\n"
        - id: a1f100ab-b277-4bb7-943f-fa14bee44184
          role: user
          text: "### 資料輸入：\n- **委員的問題**：{{#1730257085761.title#}}  \n\n- **參考摘要**：{{#1730257085761.content#}}\
            \  \n\n- **背景資訊**：{{#context#}}  **\n"
        selected: false
        title: 5. 問題相關資訊及答案彙整 (精簡回答)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1733466286999'
      position:
        x: 2215
        y: 386
      positionAbsolute:
        x: 2215
        y: 386
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 變量聚合器
        type: variable-aggregator
        variables:
        - - '17333139837460'
          - text
        - - '1733466286999'
          - text
      height: 129
      id: '1733466332547'
      position:
        x: 2518
        y: 386
      positionAbsolute:
        x: 2518
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        author: c00cjz00
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"import
          json","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"type":"linebreak","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"def
          main(input_str: str) -> dict:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
            if not input_str:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
                return {''result'': []}","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
            ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
            # 去除 ```json 標籤和多餘空白","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
            input_str = input_str.strip(''```json'').strip()","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
            ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
            try:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
                # 將清理後的字串解析為 JSON","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
                data = json.loads(input_str)","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
                # 提取每個字典中的 \"question\" 值","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
                questions = [item[''question''] for item in data if ''question'' in
          item]","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
            except json.JSONDecodeError:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
                return {''result'': []}","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"type":"linebreak","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":" 
            return {''result'': questions}","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"type":"linebreak","version":1},{"type":"linebreak","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1733575456308'
      position:
        x: 667.8514453160623
        y: 585.1378569000482
      positionAbsolute:
        x: 667.8514453160623
        y: 585.1378569000482
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: llama-3.3-70b-versatile
          provider: openai_api_compatible
        prompt_template:
        - id: ef3d2a57-9b93-45c7-abe0-deebd53cb491
          role: system
          text: "You are an expert in document translation and refinement, specializing\
            \ in adapting content into natural, culturally-appropriate American English.\
            \ Your focus is on ensuring the translation aligns with American English\
            \ expressions, cultural nuances, and idiomatic language to make the content\
            \ engaging and relatable. \n\nWhen translating and refining, please adhere\
            \ to the following guidelines:  \n1. Ensure the language flows naturally,\
            \ avoiding stiff literal translations or foreign-sounding phrasing.  \n\
            2. Skillfully incorporate American English vocabulary, tone, and sentence\
            \ structures.  \n3. Tailor the content to the reading habits of American\
            \ English audiences, making it clear, concise, and easy to understand.\
            \  \n4. When the source content's style differs from the target tone,\
            \ prioritize localization into American English to achieve the best result.\
            \  \n"
        - id: 501614cf-e0ab-44c2-a66e-a016b50985c8
          role: user
          text: "Please translate the following text into American English, focusing\
            \ on semantic accuracy and stylistic refinement to ensure the language\
            \ is idiomatic and polished. Do not add any additional content or commentary\
            \ beyond the translation and revision.\n\nText to translate:  \n{{#1733466332547.output#}}"
        selected: false
        title: 7. 翻譯成英文
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '17335771686400'
      position:
        x: 3114.8816908559143
        y: 358.12953391569465
      positionAbsolute:
        x: 3114.8816908559143
        y: 358.12953391569465
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        author: c00cjz00
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"您是台灣國家科學及技術委員會（NSTC）的專業專員，負責針對立法委員問題提供快速、簡潔、精確的回應。請依據委員問題及背景資訊，以國科會立場提供簡明回應，並使用指定語言
          **「","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"」**。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"###
          撰寫原則：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"1.
          **精簡聚焦**：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          僅回應委員核心問題，避免引入不必要的背景資料或閒聊內容。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          條理清晰，迅速呈現背景、政策要點與解決方案。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"2.
          **引用與查證**：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          報告中必須包括詳細的引用來源與參考文獻。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          提供可供讀者查證的URL，確保資訊可追溯。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"###
          報告結構指導：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"1.
          **標題**：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"2.
          **問題陳述**：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          簡明扼要地描述立法委員關心的核心問題，並說明該問題的影響層面（如對社會、經濟、科技的影響）。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"3.   **問題回覆**：
          ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"問題回覆樣板","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"```
          ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"一、組織架構","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          ...。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          ...。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"二、推動科普及人才培育計劃","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          ...。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          ...。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"```","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1733580201580'
      position:
        x: 2306.510630629855
        y: 716.5135575631326
      positionAbsolute:
        x: 2306.510630629855
        y: 716.5135575631326
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    viewport:
      x: -1960.5940175639296
      y: -217.34124577943282
      zoom: 0.7234307503350513
