dify_workflow5/12-民眾陳情 (國科會).yml
app:
  description: ''
  icon: u7533
  icon_background: '#E0EAFF'
  mode: workflow
  name: 12-民眾陳情 (國科會)
  use_icon_as_answer_icon: false
kind: app
version: 0.1.4
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 100
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1732751470716-source-1732751509579-target
      selected: false
      source: '1732751470716'
      sourceHandle: source
      target: '1732751509579'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: if-else
      id: 17333139837460-source-1732584513421-target
      selected: false
      source: '17333139837460'
      sourceHandle: source
      target: '1732584513421'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1732584513421-a52707dc-5fd1-4e44-b938-761b2f13e7e9-1732584586619-target
      selected: false
      source: '1732584513421'
      sourceHandle: a52707dc-5fd1-4e44-b938-761b2f13e7e9
      target: '1732584586619'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1732652888501-source-1732579748973-target
      selected: false
      source: '1732652888501'
      sourceHandle: source
      target: '1732579748973'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1732584513421-9d4dee31-0af5-4eeb-b6cb-18dc2e58f04c-1732652888501-target
      selected: false
      source: '1732584513421'
      sourceHandle: 9d4dee31-0af5-4eeb-b6cb-18dc2e58f04c
      target: '1732652888501'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1732584513421-c92668dd-88d9-425c-9cbf-b8a1c5214dcb-1732751470716-target
      selected: false
      source: '1732584513421'
      sourceHandle: c92668dd-88d9-425c-9cbf-b8a1c5214dcb
      target: '1732751470716'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1732584513421-88f12aea-1263-461a-9bb5-0a508df9295e-17333230235980-target
      selected: false
      source: '1732584513421'
      sourceHandle: 88f12aea-1263-461a-9bb5-0a508df9295e
      target: '17333230235980'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 17333230235980-source-1732683749186-target
      selected: false
      source: '17333230235980'
      sourceHandle: source
      target: '1732683749186'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: template-transform
      id: 1733402970086-true-1733403132182-target
      selected: false
      source: '1733402970086'
      sourceHandle: 'true'
      target: '1733403132182'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: template-transform
      id: 1733402970086-8ff2e557-7e1c-4949-a75f-170cafc49b1c-1733403213803-target
      selected: false
      source: '1733402970086'
      sourceHandle: 8ff2e557-7e1c-4949-a75f-170cafc49b1c
      target: '1733403213803'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1733403132182-source-1733403238861-target
      selected: false
      source: '1733403132182'
      sourceHandle: source
      target: '1733403238861'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1733403213803-source-1733403238861-target
      selected: false
      source: '1733403213803'
      sourceHandle: source
      target: '1733403238861'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1733403238861-source-17333139837460-target
      source: '1733403238861'
      sourceHandle: source
      target: '17333139837460'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: template-transform
      id: 1730257085761-source-1733452505962-target
      source: '1730257085761'
      sourceHandle: source
      target: '1733452505962'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: if-else
      id: 1733452505962-source-1733402970086-target
      source: '1733452505962'
      sourceHandle: source
      target: '1733402970086'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 1. 開始
        type: start
        variables:
        - label: 回覆陳情樣板
          max_length: 48
          options:
          - (1) 樣板一 (目前兩個內容一樣)
          - (2) 樣板二 (目前兩個內容一樣)
          required: true
          type: select
          variable: news
        - label: 民眾陳情標題
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: title
        - label: 民眾陳情內容
          max_length: 2048
          options: []
          required: true
          type: paragraph
          variable: content
        - label: 思考語系
          max_length: 48
          options:
          - English
          - Chinese (zh-TW)
          required: true
          type: select
          variable: language
        - label: 輸出語系
          max_length: 48
          options:
          - English
          - Chinese (zh-TW)
          required: true
          type: select
          variable: translate_to
      height: 193
      id: '1730257085761'
      position:
        x: 30
        y: 386
      positionAbsolute:
        x: 30
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1732652888501'
          - text
          variable: output
        selected: false
        title: 8. OUTPUT CHINESE
        type: end
      height: 89
      id: '1732579748973'
      position:
        x: 2454
        y: 518
      positionAbsolute:
        x: 2454
        y: 518
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: a52707dc-5fd1-4e44-b938-761b2f13e7e9
          conditions:
          - comparison_operator: contains
            id: e85cf536-ad22-4509-a7d8-2e72b30a8f01
            value: English
            varType: string
            variable_selector:
            - '1730257085761'
            - language
          - comparison_operator: contains
            id: 3b2e5344-97d7-4710-a79f-178587db5d5f
            value: English
            varType: string
            variable_selector:
            - '1730257085761'
            - translate_to
          id: a52707dc-5fd1-4e44-b938-761b2f13e7e9
          logical_operator: and
        - case_id: 9d4dee31-0af5-4eeb-b6cb-18dc2e58f04c
          conditions:
          - comparison_operator: contains
            id: 8567ec72-b3a3-49f4-8e4f-d236bb6fdcbe
            value: English
            varType: string
            variable_selector:
            - '1730257085761'
            - language
          - comparison_operator: contains
            id: f9520544-0695-4d40-b980-0f4249657886
            value: Chinese
            varType: string
            variable_selector:
            - '1730257085761'
            - translate_to
          id: 9d4dee31-0af5-4eeb-b6cb-18dc2e58f04c
          logical_operator: and
        - case_id: 88f12aea-1263-461a-9bb5-0a508df9295e
          conditions:
          - comparison_operator: contains
            id: 6a9aae0a-041d-434c-91cb-c9a7fe82dff2
            value: Chinese
            varType: string
            variable_selector:
            - '1730257085761'
            - language
          - comparison_operator: contains
            id: 30f5412f-2389-4e9f-8004-c541f2ceb607
            value: Chinese
            varType: string
            variable_selector:
            - '1730257085761'
            - translate_to
          id: 88f12aea-1263-461a-9bb5-0a508df9295e
          logical_operator: and
        - case_id: c92668dd-88d9-425c-9cbf-b8a1c5214dcb
          conditions:
          - comparison_operator: contains
            id: d9c8a63b-23cd-454f-a55b-58eb147f14b2
            value: Chinese
            varType: string
            variable_selector:
            - '1730257085761'
            - language
          - comparison_operator: contains
            id: 625e8a4f-b708-4db8-9a9d-5a2f66ee6eaa
            value: English
            varType: string
            variable_selector:
            - '1730257085761'
            - translate_to
          id: c92668dd-88d9-425c-9cbf-b8a1c5214dcb
          logical_operator: and
        desc: ''
        selected: false
        title: 6. 否需要翻譯
        type: if-else
      height: 373
      id: '1732584513421'
      position:
        x: 1848
        y: 386
      positionAbsolute:
        x: 1848
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17333139837460'
          - text
          variable: text
        selected: false
        title: 7. OUTPUT ENGLISH
        type: end
      height: 89
      id: '1732584586619'
      position:
        x: 2151
        y: 386
      positionAbsolute:
        x: 2151
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Llama3-TAIDE-LX-70B-Chat
          provider: openai_api_compatible
        prompt_template:
        - id: 87d51bbc-908a-4587-9211-e52a1604ab54
          role: system
          text: '你是一位精通文件翻譯及潤飾的專家，專門將各種語言內容改寫為符合台灣在地風格的中文 (zh-TW)。請特別注意使用貼近台灣本地文化、語言習慣以及流行用語的表達方式，以使翻譯後的內容更加自然且具親和力。

            翻譯時請務必做到以下幾點：

            1. 用語流暢自然，避免生硬的直譯或外來語痕跡。

            2. 注重台灣本地用語的靈活運用，例如詞彙、語氣和句型。

            3. 內容應適應台灣讀者的閱讀習慣，做到通順且易於理解。

            4. 若參考內容與待翻譯內容風格有所差異，請以台灣在地化為首要目標進行調整，確保結果達到最佳效果。

            '
        - id: 6a1f56c0-e611-4784-8772-419218800980
          role: user
          text: '請將以下文本翻譯為台灣標準中文（zh-TW），並進行語意校正與潤飾，確保用詞符合台灣用語習慣，語句通順流暢。除了翻譯及潤飾外，請勿加入額外的內容或提供任何補充說明。

            文本內容：

            {{#17333139837460.text#}}'
        selected: false
        title: 7. 翻譯成中文 (LLM TAIDE)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1732652888501'
      position:
        x: 2151
        y: 514
      positionAbsolute:
        x: 2151
        y: 514
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17333230235980'
          - text
          variable: text
        selected: false
        title: 8. OUTPUT CHINESE
        type: end
      height: 89
      id: '1732683749186'
      position:
        x: 2454
        y: 790
      positionAbsolute:
        x: 2454
        y: 790
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: ef3d2a57-9b93-45c7-abe0-deebd53cb491
          role: system
          text: "You are an expert in document translation and refinement, specializing\
            \ in adapting content into natural, culturally-appropriate American English.\
            \ Your focus is on ensuring the translation aligns with American English\
            \ expressions, cultural nuances, and idiomatic language to make the content\
            \ engaging and relatable. \n\nWhen translating and refining, please adhere\
            \ to the following guidelines:  \n1. Ensure the language flows naturally,\
            \ avoiding stiff literal translations or foreign-sounding phrasing.  \n\
            2. Skillfully incorporate American English vocabulary, tone, and sentence\
            \ structures.  \n3. Tailor the content to the reading habits of American\
            \ English audiences, making it clear, concise, and easy to understand.\
            \  \n4. When the source content's style differs from the target tone,\
            \ prioritize localization into American English to achieve the best result.\
            \  \n"
        - id: 501614cf-e0ab-44c2-a66e-a016b50985c8
          role: user
          text: "Please translate the following text into American English, focusing\
            \ on semantic accuracy and stylistic refinement to ensure the language\
            \ is idiomatic and polished. Do not add any additional content or commentary\
            \ beyond the translation and revision.\n\nText to translate:  \n{{#17333139837460.text#}}"
        selected: false
        title: 7. 翻譯成英文 (LLM TAIDE)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1732751470716'
      position:
        x: 2151
        y: 650
      positionAbsolute:
        x: 2151
        y: 650
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1732751470716'
          - text
          variable: text
        selected: false
        title: 8. OUTPUT ENGLISH
        type: end
      height: 89
      id: '1732751509579'
      position:
        x: 2454
        y: 654
      positionAbsolute:
        x: 2454
        y: 654
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1733452505962'
          - output
        desc: ''
        model:
          completion_params:
            temperature: 1
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: 3ef1efde-48b7-4f8d-830b-44e92815950f
          role: system
          text: '{{#1733403238861.output#}}


            ### 國家科學及技術委員會處理人民陳情案件作業規定

            ```

            {{#context#}}

            ```'
        - id: 04881f0e-1a81-4c5c-813a-5123d62689e8
          role: user
          text: '### 資料輸入：

            - Language：**{{#1730257085761.language#}}**

            - 陳情案件標題：**{{#1730257085761.title#}}**

            - 陳情案件內容：**{{#1730257085761.content#}}**

            '
        selected: false
        title: 5. 撰寫陳情回覆文件
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '17333139837460'
      position:
        x: 1545
        y: 386
      positionAbsolute:
        x: 1545
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Llama3-TAIDE-LX-70B-Chat
          provider: openai_api_compatible
        prompt_template:
        - id: 87d51bbc-908a-4587-9211-e52a1604ab54
          role: system
          text: '你是一位精通文件翻譯及潤飾的專家，專門將各種語言內容改寫為符合台灣在地風格的中文 (zh-TW)。請特別注意使用貼近台灣本地文化、語言習慣以及流行用語的表達方式，以使翻譯後的內容更加自然且具親和力。

            翻譯時請務必做到以下幾點：

            1. 用語流暢自然，避免生硬的直譯或外來語痕跡。

            2. 注重台灣本地用語的靈活運用，例如詞彙、語氣和句型。

            3. 內容應適應台灣讀者的閱讀習慣，做到通順且易於理解。

            4. 若參考內容與待翻譯內容風格有所差異，請以台灣在地化為首要目標進行調整，確保結果達到最佳效果。

            '
        - id: 6a1f56c0-e611-4784-8772-419218800980
          role: user
          text: '請將以下文本翻譯為台灣標準中文（zh-TW），並進行語意校正與潤飾，確保用詞符合台灣用語習慣，語句通順流暢。除了翻譯及潤飾外，請勿加入額外的內容或提供任何補充說明。

            文本內容：

            {{#17333139837460.text#}}'
        selected: false
        title: 7. 翻譯成中文 (LLM TAIDE) (1)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '17333230235980'
      position:
        x: 2151
        y: 786
      positionAbsolute:
        x: 2151
        y: 786
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: d7afb3ff-4009-4be8-b119-4eea0dfa08af
            value: (1)
            varType: string
            variable_selector:
            - '1730257085761'
            - news
          id: 'true'
          logical_operator: and
        - case_id: 8ff2e557-7e1c-4949-a75f-170cafc49b1c
          conditions:
          - comparison_operator: contains
            id: 99e1b7f5-df8f-43b7-bff1-b40580f473b8
            value: (2)
            varType: string
            variable_selector:
            - '1730257085761'
            - news
          id: 8ff2e557-7e1c-4949-a75f-170cafc49b1c
          logical_operator: and
        desc: ''
        selected: false
        title: 3. 陳情樣板
        type: if-else
      height: 173
      id: '1733402970086'
      position:
        x: 636
        y: 386
      positionAbsolute:
        x: 636
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "### 背景角色：\r\n您是台灣國家科學及技術委員會（NSTC）負責處理民眾陳情案件的專案人員，專精於提供專業、具說服力且精確的回應。您能清楚傳達國科會的立場，並完整、條理分明地回覆民眾陳情案件。\r\
          \n\r\n請根據《國家科學及技術委員會處理人民陳情案件作業規定》以及陳情案件的標題與內容，撰寫正式的回覆文。回覆內容應完整且結構清晰，並包含以下幾個重點：\r\
          \n\r\n### **1. 案件權責範疇確認**\r\n- 根據相關法規，詳細說明國科會如何判定該案件是否屬於本會的處理範圍。\r\n- 若該案件不屬於國科會的權責範圍，需清楚說明：\r\
          \n  - 案件將如何依法移交至其他主管機關或單位處理；\r\n  - 國科會如何以書面或其他適當方式通知民眾該案件轉交的情況，並提供後續的處理負責單位及聯絡方式。\r\
          \n\r\n### **2. 處理流程與法規依據**\r\n- 若案件屬於國科會的權責範疇，請詳細說明：\r\n  - 國科會處理此類案件的完整流程，包括但不限於初審、調查、決議等各個階段；\r\
          \n  - 適用的法律或規範依據；\r\n  - 預期的處理時限，若因特殊情況需要延長處理時間，國科會應如何依規定通知民眾並提供後續進度追蹤。\r\
          \n\r\n### **3. 專責聯絡窗口**\r\n- 提供民眾專責聯絡窗口的聯絡方式（電話及電子郵件），以便民眾查詢案件進度或補充資料。\r\
          \n\r\n### **4. 後續安排與滿意度調查**\r\n- 說明案件進入下一階段（如深入調查或懲處）後，民眾將如何接收到後續通知。\r\n\
          - 清楚列明國科會如何進行民眾滿意度調查，並以此作為改進服務與案件處理流程的依據。\r\n\r\n撰寫回覆時，請確保內容結構清晰、符合相關法規，並展示國科會致力於提升民眾滿意度、促進政府公信力的承諾。所有回覆應具備公正、透明的處理態度，且具體回應民眾的訴求。\r\
          \n\r\n"
        title: '模板: (1) '
        type: template-transform
        variables: []
      height: 53
      id: '1733403132182'
      position:
        x: 939
        y: 386
      positionAbsolute:
        x: 939
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "### 背景角色：\r\n您是台灣國家科學及技術委員會（NSTC）負責處理民眾陳情案件的專案人員，專精於提供專業、具說服力且精確的回應。您能清楚傳達國科會的立場，並完整、條理分明地回覆民眾陳情案件。\r\
          \n\r\n請根據《國家科學及技術委員會處理人民陳情案件作業規定》以及陳情案件的標題與內容，撰寫正式的回覆文。回覆內容應完整且結構清晰，並包含以下幾個重點：\r\
          \n\r\n### **1. 案件權責範疇確認**\r\n- 根據相關法規，詳細說明國科會如何判定該案件是否屬於本會的處理範圍。\r\n- 若該案件不屬於國科會的權責範圍，需清楚說明：\r\
          \n  - 案件將如何依法移交至其他主管機關或單位處理；\r\n  - 國科會如何以書面或其他適當方式通知民眾該案件轉交的情況，並提供後續的處理負責單位及聯絡方式。\r\
          \n\r\n### **2. 處理流程與法規依據**\r\n- 若案件屬於國科會的權責範疇，請詳細說明：\r\n  - 國科會處理此類案件的完整流程，包括但不限於初審、調查、決議等各個階段；\r\
          \n  - 適用的法律或規範依據；\r\n  - 預期的處理時限，若因特殊情況需要延長處理時間，國科會應如何依規定通知民眾並提供後續進度追蹤。\r\
          \n\r\n### **3. 專責聯絡窗口**\r\n- 提供民眾專責聯絡窗口的聯絡方式（電話及電子郵件），以便民眾查詢案件進度或補充資料。\r\
          \n\r\n### **4. 後續安排與滿意度調查**\r\n- 說明案件進入下一階段（如深入調查或懲處）後，民眾將如何接收到後續通知。\r\n\
          - 清楚列明國科會如何進行民眾滿意度調查，並以此作為改進服務與案件處理流程的依據。\r\n\r\n撰寫回覆時，請確保內容結構清晰、符合相關法規，並展示國科會致力於提升民眾滿意度、促進政府公信力的承諾。所有回覆應具備公正、透明的處理態度，且具體回應民眾的訴求。\r\
          \n\r\n"
        title: '模板: (2) '
        type: template-transform
        variables: []
      height: 53
      id: '1733403213803'
      position:
        x: 939
        y: 478
      positionAbsolute:
        x: 939
        y: 478
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 4. 陳情樣板合聚
        type: variable-aggregator
        variables:
        - - '1733403132182'
          - output
        - - '1733403213803'
          - output
      height: 130
      id: '1733403238861'
      position:
        x: 1242
        y: 386
      positionAbsolute:
        x: 1242
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "國家科學及技術委員會處理人民陳情案件作業規定\r\n111年8月17日科會綜字第1110052978C號函修正\r\n一、國家科學及技術委員會(以下簡稱本會)為加強為民服務，有效處理人民陳情\r\
          \n案件，特訂定本作業規定。\r\n二、本會各單位（以下簡稱各單位）處理陳情案件應切實遵照行政程序法及行政\r\n院及所屬各機關處理人民陳情案件要點規定辦理。其未規定者，悉依本作業\r\
          \n規定辦理。\r\n三、本作業規定所稱人民陳情案件，指陳情人以書面（透過主任委員或本會意見\r\n信箱、郵寄、傳真、經由上級或其他機關交（移）辦）或言詞（電話、親至\r\
          \n本會）直接向本會陳述有關本會行政興革之建議、行政法令之查詢、行政違\r\n失之舉發或行政權益之維護等具體陳情之案件。\r\n四、人民陳情案件，應依下列方式受理及分辦：\r\
          \n(一)書面陳情案件，由秘書處完成公文掛號程序後，分辦本會業務權責單位\r\n處理。\r\n(二)以電話向本會陳情者，接聽人應儘速將電話轉接本會業務權責單位承辦\r\
          \n人員，承辦人員應將陳情事項製作本會處理人民陳情案件紀錄表（以下\r\n簡稱紀錄表，格式如附件一）後，送秘書處完成公文掛號程序，分辦業\r\n\
          務權責單位處理。陳情事項如顯非屬本會權責，應告知陳情人該事項所\r\n涉之相關主管機關；必要時，得提供聯繫方式。若陳情人仍請本會研處，\r\n\
          應作成紀錄表循前開程序辦理。\r\n(三)人民親至本會陳情者，由業務權責單位安排適當場所接待陳情人，並填\r\n寫紀錄表；必要時，得請政風處或駐衛警察會同處理。\r\
          \n(四)團體至本會陳情者，處理原則如下：\r\n1. 各單位於事前接獲陳情情資後，應於陳情活動前一日下班前簽陳因應\r\n處置方案後，送政風處辦理。\r\
          \n2. 經協調同意進入本會陳情之團體，其推派陳情代表以不超過十人為原\r\n則，應由業務權責單位及政風處共同接見。\r\n3. 對於例假日之陳情活動，由業務權責單位及政風處派員至現場瞭解陳\r\
          \n2\r\n情訴求或接受陳情書。\r\n4. 本會不接受陳情團體指定接見人員或要求立即答復。未獲准接見者，\r\n如有意圖強行進入本會、擅闖辦公區域，或有聚眾脅迫、滋擾抗爭、\r\
          \n妨礙秩序等行為，由政風處依法令規定處理；必要時，得請相關單位\r\n協助。\r\n5. 業務權責單位接待團體陳情後，應立即將陳情事項及處置情形簽報主\r\
          \n任委員(副主任委員)。\r\n五、本會受理之人民陳情案件，依下列原則處理：\r\n(一)各單位辦理人民陳情案件應依分層負責規定，逐級陳核後，送秘書處統\r\
          \n一於本會意見信箱回復陳情人。為瞭解陳情人對本會處理案件之滿意度，\r\n答復陳情人時，應併附本會人民陳情案件處理情形調查表（以下簡稱調\r\n\
          查表，格式如附件二），請陳情人填寫後送回綜合規劃處。另採書面函復\r\n者，應附調查表及回郵信封，請陳情人填寫後寄還。\r\n(二)陳情人留有聯絡方式者，於回復陳情人前，得先行聯繫溝通意見，以充\r\
          \n分瞭解陳情人所欲表達之意思。於溝通時，應適時表達本會對其陳情事\r\n項之重視，並得將預備處理作為，先行告知，藉由深度意見溝通，化解\r\n\
          歧見。\r\n(三)非屬本會權責者，函轉主管機關予以處理，並副知陳情人；函轉時應請\r\n主管機關將處理情形及結果副知本會。未能確定陳情事項之主管機關時，\r\
          \n得協調相關機關處理。\r\n(四)人民陳情案件有下列情形之一者，應錄案登記並得陳閱後予以存查，以\r\n利查考：\r\n1. 無具體內容或未具真實姓名或聯絡方式。\r\
          \n2. 同一事由，經予適當處理，並已明確答復後，仍一再陳情。\r\n3. 非陳情事項之主管機關，接獲陳情人以同一事由已分向各主管機關陳\r\n\
          情。\r\n(五)由上級或其他機關交（移）辦之陳情案件，由本會直接處理函復陳情人，\r\n並副知交（移）辦機關；如屬直接簽存之案件，應敘明理由回復交（移）\r\
          \n辦機關。\r\n3\r\n(六)人民之陳情有保密必要者，應將該案列為密件，不予公開。\r\n(七)人民對依法應提起訴願或訴訟之事項提出陳情時，應告知陳情人循訴願\r\
          \n或訴訟規定辦理，或逕移送主管機關並副知陳情人。\r\n六、為提升人民陳情案件處理滿意度，回復時應依下列注意事項辦理：\r\n(一)各單位答復人民陳情案件時，應針對案情內容敘明具體處理意見及法規\r\
          \n依據，以簡明易懂、肯定、親切、同理心之文字用語答復陳情人。\r\n(二)案件如有部分涉及他機關權責時，宜於文內敘明「為節省台端時間，本\r\n\
          會主動轉請權責機關(某某單位)逕復」字樣，避免陳情人須重複再洽其\r\n他權責機關處理。\r\n(三)人民對政府政策、行政措施、法令規章等，提出可供採行之具體革新建\r\
          \n議時，應予研辦參採；請求解釋時，應適切闡釋或明確處理。\r\n七、各單位辦理人民陳情案件，除上級機關來文時已明定辦理時限者外，以一般\r\n\
          公文普通件處理期限處理；未能依限於六日內辦結者，應依規定申請展期，\r\n並至遲於十五日內辦結。未能於十五日內辦結者，應依分層負責簽請核准，\r\
          \n並將延長理由告知陳情人；處理期限不得超過三十日。\r\n八、處理人民陳情案件，應以「案」為單位進行管制，由秘書處以公文時效控管\r\n並按月統計。\r\
          \n年度結束後，由綜合規劃處彙編及研提本會年度人民陳情案件分析報告，\r\n簽報主任委員(副主任委員)核定，並分送各單位參考改進。\r\n九、本會各單位處理人民陳情案件之績效優良人員，得予適時獎勵。\r\
          \n4\r\n附件一\r\n國家科學及技術委員會處理人民陳情案件紀錄表\r\n填表單位：\r\n陳情人\r\n姓 名 聯絡電話\r\n聯 絡 地\
          \ 址\r\n傳 真\r\n電子信箱\r\n陳情時間 年 月 日 時 分 陳情地點\r\n陳情方式 □電話 □面談\r\n陳情性質 □行政興革之建議\
          \ □行政法令之查詢 □行政違失之舉發\r\n□行政權益之維護\r\n陳訴事項\r\n記錄人： 陳情人：\r\n備註 記錄完畢，應向陳情人朗讀或使閱覽，確認陳情內容無誤並簽名。\r\
          \n\r\n5\r\n附件二\r\n 國家科學及技術委員會人民陳情案件處理情形調查表\r\n1.陳情時間：____年____月____日\r\n\
          機關收文號：_____________________________________________\r\n陳情事由：_______________________________________________\r\
          \n2.請問您對於本次陳情案件，本會處理情形是否滿意？\r\n□(1)非常滿意 □(2)滿意 □(3)尚可 □(4)不滿意\r\n□(5)非常不滿意\r\
          \n3.(前點勾選 1、2、3 者跳答)請問您不滿意的理由？（可複選）\r\n□處理時間太慢 □承辦人員處理態度不佳\r\n□答復內容沒有具體明確\
          \ □答復內容為制式例稿，欠缺誠意\r\n□答復內容與實際處理情形不符 □曲解法令或引用法令錯誤\r\n□處理結果沒有考量民眾需求\r\n□相關單位推諉責任（如：\
          \ ）\r\n□其他(請說明 )\r\n\r\n本表填妥後，務請以下列聯絡方式擲回 國家科學及技術委員會綜合規劃\r\n處，謝謝！\r\n郵寄住址：106\
          \ 臺北市和平東路二段 106 號 18 樓\r\n國家科學及技術委員會傳真：02-27377566\r\n國家科學及技術委員會意見信箱：nstc@nstc.gov.tw"
        title: 2. 指引
        type: template-transform
        variables: []
      height: 53
      id: '1733452505962'
      position:
        x: 333
        y: 386
      positionAbsolute:
        x: 333
        y: 386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -701
      y: -66
      zoom: 0.7
