dify_workflow5/14F-立法院模擬問答 (國科會).yml
app:
  description: DEMO
  icon: u6307
  icon_background: '#D5D9EB'
  mode: workflow
  name: 14F-立法院模擬問答 (國科會)
  use_icon_as_answer_icon: false
kind: app
version: 0.1.4
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 100
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: true
        iteration_id: '1730257830072'
        sourceType: iteration-start
        targetType: tool
      id: 1730257830072start-source-1730257879652-target
      selected: false
      source: 1730257830072start
      sourceHandle: source
      target: '1730257879652'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1730257830072'
        sourceType: tool
        targetType: llm
      id: 1730257879652-source-1730259235391-target
      selected: false
      source: '1730257879652'
      sourceHandle: source
      target: '1730259235391'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1730257648212-source-1730257830072-target
      selected: false
      source: '1730257648212'
      sourceHandle: source
      target: '1730257830072'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1733466286999-source-1732683749186-target
      selected: false
      source: '1733466286999'
      sourceHandle: source
      target: '1732683749186'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: if-else
      id: 1730257830072-source-1733528107986-target
      selected: false
      source: '1730257830072'
      sourceHandle: source
      target: '1733528107986'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 17335281936700-source-1733528237330-target
      selected: false
      source: '17335281936700'
      sourceHandle: source
      target: '1733528237330'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733528107986-true-17335295032200-target
      selected: false
      source: '1733528107986'
      sourceHandle: 'true'
      target: '17335295032200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733528107986-6b3e586d-cd8d-462f-b3b8-9c12017ca026-1733466286999-target
      selected: false
      source: '1733528107986'
      sourceHandle: 6b3e586d-cd8d-462f-b3b8-9c12017ca026
      target: '1733466286999'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733528107986-8451f3e1-4e8f-426a-901d-b432001c8206-17335281936700-target
      selected: false
      source: '1733528107986'
      sourceHandle: 8451f3e1-4e8f-426a-901d-b432001c8206
      target: '17335281936700'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 17335295032200-source-17335296470970-target
      selected: false
      source: '17335295032200'
      sourceHandle: source
      target: '17335296470970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1730257085761-source-1733533896035-target
      selected: false
      source: '1730257085761'
      sourceHandle: source
      target: '1733533896035'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1733533896035-source-1730257648212-target
      selected: false
      source: '1733533896035'
      sourceHandle: source
      target: '1730257648212'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733528107986-213aea34-0939-43a6-9b12-08975904cd88-17335350478400-target
      selected: false
      source: '1733528107986'
      sourceHandle: 213aea34-0939-43a6-9b12-08975904cd88
      target: '17335350478400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 17335350478400-source-1733535196080-target
      selected: false
      source: '17335350478400'
      sourceHandle: source
      target: '1733535196080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 17335351203770-source-1733535207790-target
      selected: false
      source: '17335351203770'
      sourceHandle: source
      target: '1733535207790'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733528107986-2132056e-48d3-4768-9bfc-5dff1059da7d-17335351203770-target
      source: '1733528107986'
      sourceHandle: 2132056e-48d3-4768-9bfc-5dff1059da7d
      target: '17335351203770'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733528107986-1ae3d742-7cda-4751-bd32-a4d7783056d4-17335492299710-target
      source: '1733528107986'
      sourceHandle: 1ae3d742-7cda-4751-bd32-a4d7783056d4
      target: '17335492299710'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 17335492299710-source-1733549379022-target
      source: '17335492299710'
      sourceHandle: source
      target: '1733549379022'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 1. 開始
        type: start
        variables:
        - label: 問題
          max_length: null
          options: []
          required: true
          type: text-input
          variable: title
        - label: 相關內容
          max_length: 2048
          options: []
          required: false
          type: paragraph
          variable: content
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 思考語系
          max_length: 5
          options:
          - English
          - Chinese (zh-TW)
          required: true
          type: select
          variable: language
        - label: 模型名稱
          max_length: 48
          options:
          - Llama3-TAIDE-LX-8B-Chat-NSTC-v1
          - Llama3-TAIDE-LX-8B-Chat-NSTC-v2
          - Llama3-TAIDE-LX-8B-Chat-Alpha1
          - TAIDE/b.12.0.0
          - Llama-3.1-Nemotron-70B-Instruct
          - llama-3.3-70b-versatile
          required: true
          type: select
          variable: modelversion
      height: 166
      id: '1730257085761'
      position:
        x: 30
        y: 366.5
      positionAbsolute:
        x: 30
        y: 366.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(input_str: str) -> dict:\n    if not input_str:\n        return\
          \ {'result': []}\n    input_str = input_str\n    input_str = input_str.strip().strip('\"\
          ')\n    items = [item.strip() for item in input_str.split(',')]\n    \n\
          \    return {'result': items}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: 3. 擴展問題整理 (code)
        type: code
        variables:
        - value_selector:
          - '1733533896035'
          - text
          variable: input_str
      height: 52
      id: '1730257648212'
      position:
        x: 333
        y: 366.5
      positionAbsolute:
        x: 333
        y: 366.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        error_handle_mode: continue-on-error
        height: 333
        is_parallel: true
        iterator_selector:
        - '1730257648212'
        - result
        output_selector:
        - '1730259235391'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1730257830072start
        title: 4. 搜尋問題相關資訊及答案 (Search & LLM))
        type: iteration
        width: 913
      height: 333
      id: '1730257830072'
      position:
        x: 636
        y: 366.5
      positionAbsolute:
        x: 636
        y: 366.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 913
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1730257830072start
      parentId: '1730257830072'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 660
        y: 434.5
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1730257830072'
        provider_id: tavily
        provider_name: tavily
        provider_type: builtin
        selected: false
        title: TavilySearch
        tool_configurations:
          exclude_domains: null
          include_answer: null
          include_domains: null
          include_images: null
          include_raw_content: null
          max_results: 5
          search_depth: basic
        tool_label: TavilySearch
        tool_name: tavily_search
        tool_parameters:
          query:
            type: mixed
            value: '台灣國家科學及技術委員會 (NSTC): {{#1730257830072.item#}}'
        type: tool
      height: 244
      id: '1730257879652'
      parentId: '1730257830072'
      position:
        x: 128
        y: 67
      positionAbsolute:
        x: 764
        y: 433.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1730257830072'
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - edition_type: basic
          id: d8e18834-ba12-4acb-b376-15340d30a3e3
          jinja2_text: '"{research_summary}" Using the above information, answer the
            following question or topic: "{question}" in a detailed report — The report
            should focus on the answer to the question, should be well structured,
            informative, in depth, with facts and numbers if available, a minimum
            of 1,200 words and with markdown syntax and apa format. Write all source
            urls at the end of the report in apa format. You should write your report
            only based on the given information and nothing else.'
          role: system
          text: "Your goal is to provide answers based on information from the internet.\
            \ \nYou must use the provided Tavily search API function to find relevant\
            \ online information. \nYou should never use your own knowledge to answer\
            \ questions."
        - id: b23ba544-1b25-4d0a-abdf-34a6c22a2c76
          role: user
          text: "language：{{#1730257085761.language#}}\n \"{{#1730257879652.text#}}\"\
            \ Using the above information, answer the following question or topic:\
            \ \"{{#1730257830072.item#}} \"\n"
        selected: false
        title: 4. 搜尋問題相關資訊及答案 (Search & LLM))
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1730259235391'
      parentId: '1730257830072'
      position:
        x: 416.1699410031715
        y: 74.62554586921203
      positionAbsolute:
        x: 1052.1699410031715
        y: 441.12554586921203
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
      zIndex: 1002
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1733466286999'
          - text
          variable: text
        selected: false
        title: 6. OUTPUT (v1)
        type: end
      height: 88
      id: '1732683749186'
      position:
        x: 2215
        y: 502.5
      positionAbsolute:
        x: 2215
        y: 502.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        author: c00cjz00
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"您是台灣國家科學及技術委員會（NSTC）的專業專員，負責針對與該委員會相關的議題提供權威性的分析與回應。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"請根據委員提出的問題與背景資訊，撰寫一份以
          \"","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"\"
          為報告標題的深入且全面的專業報告。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"###
          指導原則：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"1.
          **聚焦核心問題**：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          嚴格圍繞委員提出的具體問題進行分析與回答，避免多餘或與主題無關的內容。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          報告應結構清晰，直接切入重點，分段闡述，並提供清晰的結論與建議。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"2.
          **提供可靠參考資料**：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          報告需包含詳細的引用，並引用學術文章、政府報告、官方數據或其他經驗證的權威性來源。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          明確列出每一項資料的出處，附帶完整參考格式及超連結，確保讀者能方便核實。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"3.
          **專業語氣與表達**：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          使用專業、清晰且禮貌的語言進行撰寫，符合政策制定者或相關專業人士的需求。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"   -
          報告應體現高度專業性與政策敏感性，適當使用技術術語並避免過度簡化。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"###
          報告結構：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          **問題陳述**：簡要說明所要解決的核心問題。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          **背景分析**：基於背景資訊提供必要的數據與分析支持。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          **深入回應**：針對問題進行詳細分析，引用權威資料支持，並提出具體建議或解決方案。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          **結論與建議**：概述報告要點，提出政策層面的建議或後續行動方案。  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"###
          資料輸入：  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          委員問題：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          語言：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          背景資訊：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  ","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1733320060611'
      position:
        x: 1560.8168147843273
        y: 777.2791052303154
      positionAbsolute:
        x: 1560.8168147843273
        y: 777.2791052303154
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: c00cjz00
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"修改後的
          Prompt：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"您是台灣國家科學及技術委員會（NSTC）的專業專員，具備專業的政策分析能力，負責針對立法委員提出的問題提供深入且具權威性的回應。請根據委員的問題與提供的背景資訊，撰寫一份以
          「","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"」
          為主題的專業報告。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"報告撰寫指導：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"聚焦議題，條理清晰：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"針對委員的具體提問進行分析，避免偏離核心議題或過多冗長敘述。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"報告需條理分明，結構設計合理，涵蓋背景資訊、核心分析及具體建議等要素。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"嚴謹引用與佐證：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"使用學術文章、官方數據、政策文件等經過驗證的權威資料進行佐證。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"清楚註明引用來源，附上參考文獻清單及超連結，確保報告的公信力與核查便利性。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"專業語氣與政策敏感性：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"採用專業、禮貌且精確的語言，適合政策制定者或技術專業人士的需求。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"報告需展現政策敏感度，適當使用技術術語，確保專業性與易讀性的平衡。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"報告結構：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"核心問題概述：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"簡述立法委員提出的核心問題，明確報告需解決的重點。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"背景分析與數據支撐：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"提供與議題相關的背景資訊，列舉重要數據與相關現狀，幫助讀者全面了解問題的脈絡。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"問題深入剖析：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"針對核心問題進行詳細解析，結合權威資料提出洞察，分析其政策影響與技術挑戰。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"政策建議與解決方案：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"提供實際且可行的建議，包括政策層面、技術層面或其他必要行動方案。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"結論與後續建議：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"總結報告要點，提出後續追蹤重點或建議進一步研究的領域。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"資料輸入參考：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"委員提問：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"語言：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"背景資訊：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1733321288471'
      position:
        x: 1525.9391839068564
        y: 846.1916139812026
      positionAbsolute:
        x: 1525.9391839068564
        y: 846.1916139812026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        context:
          enabled: true
          variable_selector:
          - '1730257830072'
          - output
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: Llama3-8B-NSTC
          provider: openai_api_compatible
        prompt_template:
        - id: 8a3cd74e-68f0-434c-a6a4-4a44c8f61364
          role: system
          text: "您是台灣國家科學及技術委員會（NSTC）的專業專員，具備政策分析與執行能力。請你針對\"委員問題\"，把 \"參考摘要\" 及 \"\
            背景資訊\" 作為答覆報告的參考資料，撰寫一份標題為 **「{{#1730257085761.title#}}」** 的答覆報告，闡述國科會政策立場、採取行動與未來計畫。\
            \  \n\n請確保答覆內容清晰、聚焦問題核心、結構簡潔且直觀。  \n\n### 答覆報告結構：  \n1. **答覆報告標題**： {{#1730257085761.title#}}\
            \   \n\n2. **問題概述**：  \n   - 簡要說明委員提問的核心重點及其重要性。  \n\n3. **國科會的答覆**： \
            \ \n   - 清楚描述政策立場、已採取的具體行動及進展。  \n   - 聚焦關鍵回應，避免過多細節或不相關內容。  \n\n4. **未來計畫**：\
            \  \n   - 提出後續行動與執行計畫，強調國科會的積極作為。  "
        - id: a1f100ab-b277-4bb7-943f-fa14bee44184
          role: user
          text: "### 資料輸入：  \n- **語言**：{{#1730257085761.language#}}  \n\n- **委員問題**：{{#1730257085761.title#}}\
            \  \n\n- **參考摘要**：{{#1730257085761.content#}}  \n\n- **背景資訊**：{{#context#}}\
            \  "
        selected: false
        title: 5. 問題相關資訊及答案彙整 (NSTC v1)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1733466286999'
      position:
        x: 1912
        y: 502.5
      positionAbsolute:
        x: 1912
        y: 502.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 4599da15-8770-4806-84df-83f88527d4b0
            value: Alpha1
            varType: string
            variable_selector:
            - '1730257085761'
            - modelversion
          id: 'true'
          logical_operator: and
        - case_id: 6b3e586d-cd8d-462f-b3b8-9c12017ca026
          conditions:
          - comparison_operator: contains
            id: 9e35e462-d109-43eb-ba7a-74002fd125ad
            value: v1
            varType: string
            variable_selector:
            - '1730257085761'
            - modelversion
          id: 6b3e586d-cd8d-462f-b3b8-9c12017ca026
          logical_operator: and
        - case_id: 8451f3e1-4e8f-426a-901d-b432001c8206
          conditions:
          - comparison_operator: contains
            id: 1cb892ec-63b8-436a-8584-c7902cdba5e8
            value: v2
            varType: string
            variable_selector:
            - '1730257085761'
            - modelversion
          id: 8451f3e1-4e8f-426a-901d-b432001c8206
          logical_operator: and
        - case_id: 213aea34-0939-43a6-9b12-08975904cd88
          conditions:
          - comparison_operator: contains
            id: 99987497-d807-44f0-9463-658b98345c2e
            value: b.12.0.0
            varType: string
            variable_selector:
            - '1730257085761'
            - modelversion
          id: 213aea34-0939-43a6-9b12-08975904cd88
          logical_operator: and
        - case_id: 2132056e-48d3-4768-9bfc-5dff1059da7d
          conditions:
          - comparison_operator: contains
            id: 7f64260f-b015-42e6-9714-882a805569b3
            value: 70B
            varType: string
            variable_selector:
            - '1730257085761'
            - modelversion
          logical_operator: and
        - case_id: 1ae3d742-7cda-4751-bd32-a4d7783056d4
          conditions:
          - comparison_operator: contains
            id: 369c5fe0-43c3-46b5-8e99-599efb099139
            value: '3.3'
            varType: string
            variable_selector:
            - '1730257085761'
            - modelversion
          logical_operator: and
        desc: ''
        selected: false
        title: 選擇模型
        type: if-else
      height: 364
      id: '1733528107986'
      position:
        x: 1609
        y: 366.5
      positionAbsolute:
        x: 1609
        y: 366.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1730257830072'
          - output
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: Llama3-8B-NSTC-v2
          provider: openai_api_compatible
        prompt_template:
        - id: 8a3cd74e-68f0-434c-a6a4-4a44c8f61364
          role: system
          text: "您是台灣國家科學及技術委員會（NSTC）的專業專員，具備政策分析與執行能力。請你針對\"委員問題\"，把 \"參考摘要\" 及 \"\
            背景資訊\" 作為答覆報告的參考資料，撰寫一份標題為 **「{{#1730257085761.title#}}」** 的答覆報告，闡述國科會政策立場、採取行動與未來計畫。\
            \  \n\n請確保答覆內容清晰、聚焦問題核心、結構簡潔且直觀。  \n\n### 答覆報告結構：  \n1. **答覆報告標題**： {{#1730257085761.title#}}\
            \   \n\n2. **問題概述**：  \n   - 簡要說明委員提問的核心重點及其重要性。  \n\n3. **國科會的答覆**： \
            \ \n   - 清楚描述政策立場、已採取的具體行動及進展。  \n   - 聚焦關鍵回應，避免過多細節或不相關內容。  \n\n4. **未來計畫**：\
            \  \n   - 提出後續行動與執行計畫，強調國科會的積極作為。  "
        - id: a1f100ab-b277-4bb7-943f-fa14bee44184
          role: user
          text: "### 資料輸入：  \n- **語言**：{{#1730257085761.language#}}  \n\n- **委員問題**：{{#1730257085761.title#}}\
            \  \n\n- **參考摘要**：{{#1730257085761.content#}}  \n\n- **背景資訊**：{{#context#}}\
            \  "
        selected: false
        title: 5. 問題相關資訊及答整 (NSTC v2)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '17335281936700'
      position:
        x: 1932.0000000000005
        y: 564.2142857142858
      positionAbsolute:
        x: 1932.0000000000005
        y: 564.2142857142858
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17335281936700'
          - text
          variable: text
        selected: false
        title: 6. OUTPUT (v2)
        type: end
      height: 88
      id: '1733528237330'
      position:
        x: 2215
        y: 638.5
      positionAbsolute:
        x: 2215
        y: 638.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1730257830072'
          - output
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: Llama3-TAIDE-LX-8B-Chat-Alpha1
          provider: openai_api_compatible
        prompt_template:
        - id: 8a3cd74e-68f0-434c-a6a4-4a44c8f61364
          role: system
          text: "您是台灣國家科學及技術委員會（NSTC）的專業專員，具備政策分析與執行能力。請你針對\"委員問題\"，把 \"參考摘要\" 及 \"\
            背景資訊\" 作為答覆報告的參考資料，撰寫一份標題為 **「{{#1730257085761.title#}}」** 的答覆報告，闡述國科會政策立場、採取行動與未來計畫。\
            \  \n\n請確保答覆內容清晰、聚焦問題核心、結構簡潔且直觀。  \n\n### 答覆報告結構：  \n1. **答覆報告標題**： {{#1730257085761.title#}}\
            \   \n\n2. **問題概述**：  \n   - 簡要說明委員提問的核心重點及其重要性。  \n\n3. **國科會的答覆**： \
            \ \n   - 清楚描述政策立場、已採取的具體行動及進展。  \n   - 聚焦關鍵回應，避免過多細節或不相關內容。  \n\n4. **未來計畫**：\
            \  \n   - 提出後續行動與執行計畫，強調國科會的積極作為。  "
        - id: a1f100ab-b277-4bb7-943f-fa14bee44184
          role: user
          text: "### 資料輸入：  \n- **語言**：{{#1730257085761.language#}}  \n\n- **委員問題**：{{#1730257085761.title#}}\
            \  \n\n- **參考摘要**：{{#1730257085761.content#}}  \n\n- **背景資訊**：{{#context#}}\
            \  "
        selected: false
        title: 5. 問題相關資訊及答整 (8B)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '17335295032200'
      position:
        x: 1912
        y: 366.5
      positionAbsolute:
        x: 1912
        y: 366.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17335295032200'
          - text
          variable: text
        selected: false
        title: 6. OUTPUT (8B)
        type: end
      height: 88
      id: '17335296470970'
      position:
        x: 2215
        y: 366.5
      positionAbsolute:
        x: 2215
        y: 366.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-2024-11-20
          provider: openai
        prompt_template:
        - id: 17d4bcde-a04d-4811-8b15-74def47a86d4
          role: system
          text: '請以台灣國家科學及技術委員會（NSTC）專員的觀點，將使用者輸入的問題，擴展並生成 3 個具體且具深度的子問題


            規範：

            1. 針對使用者提出的問題，首先進行關鍵字或關鍵短語的提取與分析。

            2. 基於提取出的關鍵字或短語，生成與問題相關的具體搜尋引擎查詢語句。

            3.  確保所有生成的問題保留原始問題的主題和焦點。

            4. 生成能夠細分使用者問題的搜尋引擎查詢，這些查詢應協助深入了解問題的各個面向。

            5. 輸出的內容僅包含搜尋查詢，無需附加任何解釋或描述。

            6. 輸出格式為純文字，使用'',''分隔各查詢項目，避免使用XML標籤或其他格式。

            7. 輸出必須簡潔明瞭，並專注於提供實際可用的搜尋查詢。

            '
        - id: 93bea5e1-996e-4222-9658-e47b0faf0f8a
          role: user
          text: '問題：{{#1730257085761.title#}}

            language：{{#1730257085761.language#}}

            '
        selected: false
        title: 2. 問題擴展 (LLM)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1733533896035'
      position:
        x: 327.28571428571433
        y: 480.3571428571429
      positionAbsolute:
        x: 327.28571428571433
        y: 480.3571428571429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1730257830072'
          - output
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: TAIDE/b.12.0.0
          provider: openai_api_compatible
        prompt_template:
        - id: 8a3cd74e-68f0-434c-a6a4-4a44c8f61364
          role: system
          text: "您是台灣國家科學及技術委員會（NSTC）的專業專員，具備政策分析與執行能力。請你針對\"委員問題\"，把 \"參考摘要\" 及 \"\
            背景資訊\" 作為答覆報告的參考資料，撰寫一份標題為 **「{{#1730257085761.title#}}」** 的答覆報告，闡述國科會政策立場、採取行動與未來計畫。\
            \  \n\n請確保答覆內容清晰、聚焦問題核心、結構簡潔且直觀。  \n\n### 答覆報告結構：  \n1. **答覆報告標題**： {{#1730257085761.title#}}\
            \   \n\n2. **問題概述**：  \n   - 簡要說明委員提問的核心重點及其重要性。  \n\n3. **國科會的答覆**： \
            \ \n   - 清楚描述政策立場、已採取的具體行動及進展。  \n   - 聚焦關鍵回應，避免過多細節或不相關內容。  \n\n4. **未來計畫**：\
            \  \n   - 提出後續行動與執行計畫，強調國科會的積極作為。  "
        - id: a1f100ab-b277-4bb7-943f-fa14bee44184
          role: user
          text: "### 資料輸入：  \n- **語言**：{{#1730257085761.language#}}  \n\n- **委員問題**：{{#1730257085761.title#}}\
            \  \n\n- **參考摘要**：{{#1730257085761.content#}}  \n\n- **背景資訊**：{{#context#}}\
            \  "
        selected: false
        title: 5. 問題相關資訊及答整 (TAIDE/b.12.0.0)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '17335350478400'
      position:
        x: 1963.6494838169647
        y: 633.220901489258
      positionAbsolute:
        x: 1963.6494838169647
        y: 633.220901489258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1730257830072'
          - output
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: Llama-3.1-Nemotron-70B-Instruct
          provider: openai_api_compatible
        prompt_template:
        - id: 8a3cd74e-68f0-434c-a6a4-4a44c8f61364
          role: system
          text: "您是台灣國家科學及技術委員會（NSTC）的專業專員，具備政策分析與執行能力。請你針對\"委員問題\"，把 \"參考摘要\" 及 \"\
            背景資訊\" 作為答覆報告的參考資料，撰寫一份標題為 **「{{#1730257085761.title#}}」** 的答覆報告，闡述國科會政策立場、採取行動與未來計畫。\
            \  \n\n請確保答覆內容清晰、聚焦問題核心、結構簡潔且直觀。  \n\n### 答覆報告結構：  \n1. **答覆報告標題**： {{#1730257085761.title#}}\
            \   \n\n2. **問題概述**：  \n   - 簡要說明委員提問的核心重點及其重要性。  \n\n3. **國科會的答覆**： \
            \ \n   - 清楚描述政策立場、已採取的具體行動及進展。  \n   - 聚焦關鍵回應，避免過多細節或不相關內容。  \n\n4. **未來計畫**：\
            \  \n   - 提出後續行動與執行計畫，強調國科會的積極作為。  "
        - id: a1f100ab-b277-4bb7-943f-fa14bee44184
          role: user
          text: "### 資料輸入：  \n- **語言**：{{#1730257085761.language#}}  \n\n- **委員問題**：{{#1730257085761.title#}}\
            \  \n\n- **參考摘要**：{{#1730257085761.content#}}  \n\n- **背景資訊**：{{#context#}}\
            \  "
        selected: true
        title: 5. 問題相關資訊及答整 (Llama-3.1-Nemotron-70B-Instruct)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '17335351203770'
      position:
        x: 1916.2857142857142
        y: 770.477328266917
      positionAbsolute:
        x: 1916.2857142857142
        y: 770.477328266917
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17335350478400'
          - text
          variable: text
        selected: false
        title: 6. OUTPUT (b.12.0.0)
        type: end
      height: 88
      id: '1733535196080'
      position:
        x: 2219.5066266741073
        y: 738.9351872035436
      positionAbsolute:
        x: 2219.5066266741073
        y: 738.9351872035436
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17335351203770'
          - text
          variable: text
        selected: false
        title: 6. OUTPUT (Nemotron)
        type: end
      height: 88
      id: '1733535207790'
      position:
        x: 2206.4285714285716
        y: 846.1916139812026
      positionAbsolute:
        x: 2206.4285714285716
        y: 846.1916139812026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1730257830072'
          - output
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: llama-3.3-70b-versatile
          provider: openai_api_compatible
        prompt_template:
        - id: 8a3cd74e-68f0-434c-a6a4-4a44c8f61364
          role: system
          text: "您是台灣國家科學及技術委員會（NSTC）的專業專員，具備政策分析與執行能力。請你針對\"委員問題\"，把 \"參考摘要\" 及 \"\
            背景資訊\" 作為答覆報告的參考資料，撰寫一份標題為 **「{{#1730257085761.title#}}」** 的答覆報告，闡述國科會政策立場、採取行動與未來計畫。\
            \  \n\n請確保答覆內容清晰、聚焦問題核心、結構簡潔且直觀。  \n\n### 答覆報告結構：  \n1. **答覆報告標題**： {{#1730257085761.title#}}\
            \   \n\n2. **問題概述**：  \n   - 簡要說明委員提問的核心重點及其重要性。  \n\n3. **國科會的答覆**： \
            \ \n   - 清楚描述政策立場、已採取的具體行動及進展。  \n   - 聚焦關鍵回應，避免過多細節或不相關內容。  \n\n4. **未來計畫**：\
            \  \n   - 提出後續行動與執行計畫，強調國科會的積極作為。  "
        - id: a1f100ab-b277-4bb7-943f-fa14bee44184
          role: user
          text: "### 資料輸入：  \n- **語言**：{{#1730257085761.language#}}  \n\n- **委員問題**：{{#1730257085761.title#}}\
            \  \n\n- **參考摘要**：{{#1730257085761.content#}}  \n\n- **背景資訊**：{{#context#}}\
            \  "
        selected: false
        title: 5. 問題相關資訊及答整 (llama-3.3-70b-versatile)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '17335492299710'
      position:
        x: 1912
        y: 936.0827691214427
      positionAbsolute:
        x: 1912
        y: 936.0827691214427
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17335492299710'
          - text
          variable: text
        selected: false
        title: 6. OUTPUT (llama-3.3-70b-versatile)
        type: end
      height: 88
      id: '1733549379022'
      position:
        x: 2216
        y: 936.0827691214427
      positionAbsolute:
        x: 2216
        y: 936.0827691214427
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -636.2806878507296
      y: -118.92226467345961
      zoom: 0.6903628929823674
