dify_workflow0707/01-創意短評產生器(workflow).yml
app:
  description: ''
  icon: u5408
  icon_background: '#FFEAD5'
  mode: workflow
  name: 01-創意短評產生器(workflow)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      - .MP4
      - .MOV
      - .MPEG
      - .WEBM
      allowed_file_types: []
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - remote_url
        - local_file
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      configs: []
      enabled: false
      type: ''
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: start-llm
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: end
      id: llm-end
      source: llm
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: START
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types: []
          allowed_file_upload_methods: []
          description: ''
          hide: false
          label: 主題　(「無糖氣泡水」、「露營燈」)
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: topic
        - allowed_file_extensions: []
          allowed_file_types: []
          allowed_file_upload_methods: []
          description: ''
          hide: false
          label: 風格
          max_length: null
          options:
          - 有趣
          - 可愛
          - 文青
          required: false
          type: text-input
          variable: style
      height: 114
      id: start
      position:
        x: 79
        y: 282
      positionAbsolute:
        x: 79
        y: 282
      selected: true
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: null
        memory: null
        model:
          completion_params:
            stop: []
            temperature: 0.1
          mode: chat
          name: Google-Gemma-3-27B
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - role: user
          text: '你是一位具備廣告創意與文案能力的寫手，擅長針對指定主題撰寫一句吸睛、富有想像力的短評。


            請根據以下輸入資訊，產生一段 20 字以內的創意短評，語氣可以活潑、風趣或引人好奇：


            主題：{{#start.topic#}}

            （若有提供風格要求則請參考，否則自由發揮）


            風格偏好（可選）：{{#start.style#}}


            請只輸出一段短評，不需要其他說明文字。


            '
        selected: false
        title: LLM
        type: llm
        vision:
          configs: null
          enabled: false
          variable_selector: null
      height: 88
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      type: custom
      width: 243
    - data:
        outputs:
        - value_selector:
          - llm
          - text
          variable: result
        selected: false
        title: END
        type: end
      height: 88
      id: end
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      type: custom
      width: 243
    viewport:
      x: 75
      y: 6
      zoom: 1
