dify_workflow0707/04-翻譯(初稿).yml
app:
  description: ''
  icon: ideograph_advantage
  icon_background: '#D1E0FF'
  mode: workflow
  name: 04-翻譯(初稿)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1722480946371-source-1722481317771-target
      source: '1722480946371'
      sourceHandle: source
      target: '1722481317771'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1722481317771-source-1722483028357-target
      source: '1722481317771'
      sourceHandle: source
      target: '1722483028357'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: 目標語言
          max_length: 48
          options:
          - English
          - Japanese
          - Chinese (zh-TW)
          required: true
          type: select
          variable: target_lang
        - label: 原文
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: source_text
      height: 115
      id: '1722480946371'
      position:
        x: 30
        y: 257.5
      positionAbsolute:
        x: 30
        y: 257.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: Google-Gemma-3-27B
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - edition_type: basic
          id: 4214487c-db84-4ef2-91fc-cf368b591a06
          role: system
          text: 您是語言專家，專門從事替用戶提供的文本進行翻譯。
        - id: bb154e72-6ec1-436b-9d0c-ab68511d0713
          role: user
          text: '請將此文本的翻譯成 {{#1722480946371.target_lang#}}。除翻譯外，請勿提供任何解釋或文字。


            文本：{{#1722480946371.source_text#}}


            {{#1722480946371.target_lang#}}:

            '
        selected: false
        title: LLM_初始翻譯  (學生)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1722481317771'
      position:
        x: 334
        y: 257.5
      positionAbsolute:
        x: 334
        y: 257.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1722481317771'
          - text
          value_type: string
          variable: text
        selected: false
        title: 結束
        type: end
      height: 89
      id: '1722483028357'
      position:
        x: 638
        y: 257.5
      positionAbsolute:
        x: 638
        y: 257.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: Dify
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"[JOB]
          Staff Scientist – Senior Statistician (Biostatistician)  The Center for
          Cancer Research (CCR), National Cancer Institute (NCI), National Institutes
          of Health (NIH) invites applications for a senior statistician / biostatistician
          to work within the Office of Collaborative Biostatistics (OCB) of the Office
          of the Clinical Director. The CCR is the largest division of the NCI intramural
          research program and comprises nearly 250 basic and clinical research groups.
          The OCB is the primary statistical component of the CCR’s clinical research
          group, performing statistical design and review of clinical trials, data
          analysis, and consultation on statistical topics. ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"About
          the Position","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"The
          successful candidate will collaborate with physician investigators as a
          biostatistician in the clinical branches of the CCR located in Bethesda
          but may also collaborate with investigators in the basic science area. The
          statistician will utilize a variety of skills primarily to provide statistical
          designs, to perform data analyses, and to prepare results for publication.
          Work is primarily in early phase (phase 1 and 2) clinical trials for novel
          anti-cancer agents studied in the CCR. The statistician will also complete
          data analysis for other studies of interest to the investigators. Most of
          the collaboration will be with physicians, while some will be with PhD-level
          scientists.  The candidate will also serve on scientific review and/or safety
          committees that require input from a CCR clinical trials statistician.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"The
          successful candidate will be able to collaborate on multiple simultaneous
          projects and, as a Staff Scientist, will work under the general direction
          of the Head of the OCB, Dr. Laura Yee.   A high degree of independence,
          ability to work in a team on projects along with medical researchers from
          many fields, and interest and ability to learn and apply new statistical
          methods as needed are required. The position is located in Rockville, MD,
          and there is an in-office expectation of 3 days per week.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"REQUIRED
          SKILLS: Eligible candidates must have a Ph.D. or equivalent degree in statistics,
          biostatistics, or a related field. At least 5 years of relevant experience
          in the design of clinical trials and analysis of a wide variety of biomedical
          data is highly desirable. Expertise designing and analyzing phase 1 and
          phase 2 clinical trials in oncology are highly desirable. Skill and expertise
          in performing statistical analyses using the following methods are required:
          survival data analysis methods; analysis of longitudinal and repeated measures
          data, including methods for handling missing data; use of linear and non-linear
          models; use of published non-parametric and parametric statistical methods.
          Familiarity with Bayesian methods of design of clinical trials and analysis
          of data using Bayesian methods, and familiarity with specialized software
          to determine sample sizes for clinical trials are desirable. ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Excellent
          oral and written communication skills are required, as the position involves
          independent communication and collaboration with physicians and scientists,
          typically leading to publications in medical and scientific journals. Interest
          and ability to perform independent or collaborative methodologic research
          with other statisticians on topics related to design of clinical trials
          or other statistical methods relevant to the position are desirable. Expertise
          performing statistical analyses using a statistical software such as R,
          Python, or SAS is required and the ability to perform advanced R, Python,
          or SAS programming is preferred.  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Selection
          for this position will be based solely on merit, with no discrimination
          for non-merit reasons such as race, color, religion, gender, sexual orientation,
          national origin, political affiliation, marital status, disability, age,
          or membership or non-membership in an employee organization. NIH encourages
          the application and nomination of qualified women, minorities and individuals
          with disabilities.  NIH provides reasonable accommodations to applicants
          with disabilities. If you require reasonable accommodation during any part
          of the application and hiring process, please notify us. The decision on
          granting reasonable accommodation will be made on a case-by-case basis.  This
          position is subject to a background investigation.  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Applicants
          should submit a cover letter and current curriculum vitae.  Applications
          will be accepted on a rolling basis.  Submit application to Laura Yee (laura.yee@nih.gov).","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1731232187928'
      position:
        x: 31.428571428571388
        y: 483.9866817744223
      positionAbsolute:
        x: 31.428571428571388
        y: 483.9866817744223
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    viewport:
      x: 196.80000000000004
      y: 73.1
      zoom: 0.7
